[2016-08-21 21:34] JustinM1 commented on #410
Got it, thanks for clearing that up

[2016-08-21 21:34] #410 closed

[2016-08-22 00:44] onevcat commented on #411
All image resources management will happen in main thread, since under hood Kingfisher is using something like mutable array to manage it, which is not thread safe in Cocoa. Think that you are adding a new task while some code is trying to cancel one, if we do not specify a serial thread, there will be race condition. So here we need to dispatch to main thread.

As a framework user of Kingfisher,

[2016-08-23 08:46] hifall commented on #411
Just curious -- can you dispatch to a serial thread other than the main thread?

[2016-08-23 08:49] onevcat commented on #411
Sure, you could. But I guess it will be a premature optimization. Or even worse. Since thread dispatching itself is not free after all.

[2016-08-23 08:53] morisk commented on #411
Hi onevcat,
Thank you for the thorough answers(just saw it). I think maybe we can make better,
I patched Kingfisher version to behave on background thread. Since I don't need safety it was easy and I have much improved results.

 I'll make PR with proper thread handling and i will be glad if you could take a look.

[2016-08-23 09:07] hifall commented on #411
@onevcat, thanks for your kind reply.

But that doesn't answer my question. Since you call dispatch_async_safely_to_main_queue to dispatch to the main queue, it incurs costs as well, just like dispatching to a background thread (I assume).

Since ImagePrefetcher has an optional completionHandler, a time-consuming completion handler passed in by the caller can still block the main UI, right?

[2016-08-23 09:10] morisk commented on #411
@hifall you right and this is what I moved away from main thread.

[2016-08-23 09:25] onevcat commented on #411
@hifall Hi,

`dispatch_async_safely_to_main_queue` will not do any dispatch if invoked from main thread. So there is no overhead if the users start a prefetch from main thread (which will always happen for most of framework users).

Since the prefetcher is using `ImageDownloader` internally to download images, so all time consuming things are already in background. If you add another serial queue

[2016-08-23 09:46] hifall commented on #411
I see. Thanks!

[2016-08-23 15:31] lonsky opened #413 "ImageDownloader: ability to modify HTTP header for each request"
Feature request:

Now it's possible to set `requestModifier` closure for the whole ImageDownloader object (general for each request).

It'd be useful to have ability to add specific header keys for each request (maybe as addition to values returned from general `requestModifier`).

Alamofire's ImageDownloader allows to pass header dictionary to request (as optional parameter though).

Thanks!

[2016-08-24 00:51] onevcat commented on #413
Not a bad idea. I guess we could add another option case like `RequestHeader` in `KingfisherOptionsInfoItem`.

[2016-08-24 00:58] #407 closed

[2016-08-24 08:23] Pheak2NT opened #414 "Authentication with NSURLCredential image url"
How to download image url with basic Auth?

[2016-08-25 02:21] yangzhixiao opened #415 "在当次启动程序，第二次从缓存中加载该图片，就不显示transition fade等等，请教如何实现？"
因为默认是第一次加载网络图片的时候，可以设置动画；第二次从缓存中读取就不会显示动画，但是可以通过设置foreTransition来强制显示动画，但是那样的话，一个tableview在重用cell，从缓存中设置图片，也会显示动画，我想要的效果是，在这次启动程序，第一次从缓存中加载图片，就显示fade动画，第二次cell重用的时候再设置这张图片的时候，就直接显示图片，不要动画，如何实现？谢谢！！！

[2016-08-26 05:56] onevcat commented on #213
Just had a detail look into this problem.

And I believe instead of adding an option to remove alpha channel of the image, we could solve it in a more generic way. By implementing a method of transforming/re-render the image data would be better.

See #248 .

So, it would be cleaner to pass a special image transformer. I will update this issue when the transforming block implemented.

[2016-08-26 19:19] MaeseppTarvo commented on #415
Please use english. What do you even mean when you start typing inside hieroglyphics?

[2016-08-28 08:41] vethos opened #416 "completionHandler not being called"
Hi,
I'm trying to download a gif
i get callback of the progressBlock and it prints

but the completionHandler isn't being called.

[code]

[2016-08-28 08:43] vethos commented on #416
any url i use it doesn't work

[2016-08-28 15:45] onevcat commented on #416
If there is no other strong reference to `imageView`, it will be released and the completion handler will not be called since it is already released. Kingfisher will not hold the image view.

[2016-08-29 01:26] #381 closed

[2016-08-29 17:52] morisk commented on #411
At first I tried to direct all Kingfisher extra -"controlling" operations to background thread away from main.

The reason for that is maybe my edge case: I am running TableView and I am forward caching n images. My original code using Kingfisher framework was:
[code]
And I had noticeable  performance issues when scrolling. So I went back to simpler code, only storing into Kingfisher cache and doi

[2016-08-29 21:46] MylesCaley opened #418 "modify image?"
I was trying to find the best way to modify an image before its put into the cache. When subclassing ImageCache to override storeImage it doesn't have the objc prefix so I couldn't. I modified it in my local copy. I can put a PR , but not sure that is the best approach for tweaking an image before putting it into the cache.

[2016-08-29 23:07] deanq opened #419 "When used with Siesta, class name "Resource" is a conflict"
"Resource" is too generic that this was bound to happen.

[2016-08-30 00:27] MylesCaley commented on #418
Well, unfortunately the first time the image is shown it will be the unmodified image. I think what I am looking for is a callback before the image is saved and displayed. Since this involves both the UI and the cache not sure what the cleanest approach is. imageModifierHandler on downloadAndCacheImageWithURL ?

[2016-08-30 01:01] onevcat commented on #419
Did you try something like `Kingfisher.Resource`?

[2016-08-30 01:02] onevcat commented on #418
It's a planned feature and being implemented now. But it will only appear in next major version of Kingfisher (for Swift 3).

See #348 and https://github.com/onevcat/Kingfisher/tree/feature/image-processor

[2016-08-30 12:24] MylesCaley commented on #418
Ah, perfect . I will just cobble something together for now then dump my changes when this is released.

[2016-08-30 12:24] #418 closed

[2016-08-30 14:13] jdmoreira commented on #315
I'll do this if that's ok with you. P-R soon.

[2016-08-30 15:18] onevcat commented on #315
@jdmoreira Sure!

[2016-08-31 10:18] mickymickymicky opened #421 "Images don't show (sometimes, for round cornered image view)"
I was using leancloud to store the images,  the server always return some URLs like

"http://ac-rkozbmni.clouddn.com/evvaTGCJTJwE6EDTZDLUGrA?imageView/2/w/300/h/300/q/100"

these urls didn't work with kingfisher,  and the normal ones with extension filenames did work. like "http://sb.com/sb.png".

and i was using this to set the imageView
" imageView.kf_setImageWithURL(NSURL(string: a))"

 how cou

[2016-09-02 04:34] danhollywells commented on #316
I have run into this same issue. Because the start() method captures the initial X Resources by index and ships them off to startPrefetchingResource() and that methods recursive behavior, you can end up in a state where all the items have been processed but the initial X resources will get double processed because they were captured in the for loop in the start() method and again in the recursion

[2016-09-04 15:05] bedaronco commented on #421
Are you using the swift3 branch?  I'm having a similar issue with images not properly showing when moving to swift3.  Trying to track it down but not having much luck.

[2016-09-04 17:20] cosmo1234 opened #423 "My cache is not working"
I am using kingfisher library to cache images but it is not working when i switch off my wifi or restart the app here is my code
[code]

[2016-09-05 01:06] onevcat commented on #423
Does your `imageString` keep the same? Kingfisher is using the url as cache key by default. If the url varies (even only the query part), it will not be in the cache.

And I am not sure why you need a prefetcher here.

Is it enough to just do an image setting like this for you?

[code]

[2016-09-05 01:13] onevcat commented on #421
@mickymickymicky @bedaronco

Just had a try and this url works perfect for me, on both master and swift3 branch, in the demo app in this repo. Please make sure you disabled the ATS when you are using an http scheme.

It would be a help as well if you can supply more info (error code or log message if there is any). Or even better, prepare a demo which could reproduce it. I'd glad to have a look.

[2016-09-05 07:31] cosmo1234 commented on #423
Yes i can do that . But i want to display the cached image when offline

[2016-09-05 21:28] bedaronco commented on #421
I don't get any errors and it works most of the time.  That's why I'm having trouble figuring out what's happening.  Most features in my app work but when it goes to show user images some of them don't update on the display.  If I force the display to refresh by rotating the device the images appear.  This all worked fine pre-swift3.  So it's either something in the kingfisher updates or it's some

[2016-09-05 22:37] cosmo1234 commented on #423
Can i load images when device is offline?

[2016-09-06 02:48] onevcat commented on #421
@bedaronco Thanks for the detail description.

It is strange since you have set the placeholder image, so at least the placeholder should be shown, regardless of how other parts of Kingfisher could work or not.

The first two screenshots are easier to track in. Would you mind to add some print or breakpoint to see whether the `completionHandler` could be called, and you could also check whether th

[2016-09-06 02:52] onevcat commented on #423
Sure, Kingfisher will first search in memory and disk cache, if not found, it will try to download.

So if your images are already in disk cache, you could load and display it offline.

[2016-09-06 03:01] #405 closed

[2016-09-06 08:30] cosmo1234 commented on #423
Ok so i don't need to prefetcher?

[2016-09-06 08:44] eilianlove opened #424 "文件写入成功回调"
let URL = NSURL(string: "https://raw.githubusercontent.com/onevcat/Kingfisher/master/images/kingfisher-1.jpg")!
       KingfisherManager.sharedManager.retrieveImageWithURL(URL, optionsInfo: nil, progressBlock: { (receivedSize, totalSize) in
            print(receivedSize,  totalSize)
        }) { (image, error, cacheType, imageURL) in
            print("success")
        }

猫神，我想在下载完成之后并且获取本地化的回调，

[2016-09-06 12:53] bedaronco commented on #421
Yeah, did all of that.  Everything looks like it should work.  I broke when
the placeholder get set.  I forced setting the placeholder image on the
main thread.  I broke when the image gets set.  I broke in the completion
handlers.  It should all work.  It just doesn't always.  I even changed to
use the normal async call instead of the asyncSafe, just in case.  Same
result.

I also updated one sec

[2016-09-07 02:16] onevcat commented on #424
`KingfisherManager` or the extension methods on `UIImageView` encapsulate most details of downloading and caching an image. So, instead of using the highly wrapped types, you may need to use the downloader and cache separately for your purpose. You can get the original data in [this callback](https://github.com/onevcat/Kingfisher/blob/master/Sources/ImageDownloader.swift#L37) by using [the downloa

[2016-09-07 02:33] eilianlove commented on #424
对的，我也知道可以单独用ImageDownloader来获取下载成功的回调， 但是其他的逻辑比如缓存，存入本地，这些都是和你写的`retrieveImageWithURL`这里面就一模一样了。那就意味着我只能重新将缓存以及下载还有存沙盒都重新自己在方法中实现吗？

[2016-09-07 03:20] onevcat commented on #424
That's right.

Another possible workaround would to be using the `ImageDownloaderDelegate`, in which there is [a delegate method](https://github.com/onevcat/Kingfisher/blob/master/Sources/ImageDownloader.swift#L104) to inform you about the downloading response. From there you might be able to build a list your own to hold the information you need. So you could keep using the `KingfisherManager` or

[2016-09-07 04:01] eilianlove commented on #424
OK, Thank you very much！
So would you tell me the reason why completionHandler doesn't provide original data or file path?

[2016-09-07 11:38] jdmoreira commented on #315
Pull Request -> #425

[2016-09-07 13:27] leobarrospereira opened #426 "[Swift 3 branch] cache GIF data to disk"
Hi,

I'm trying the swift 3 branch in one of my projects and I found this problem:

I have some gif files that I download and store in the cache using Kingfisher, it used to work before but now when Kingfisher try `serializer.data(with: image, original: original)` it always returns nil.

I noticed that in the master branch it checks if there is an original data to store before try to convert the i

[2016-09-08 02:49] AdvanceYe opened #428 "VM:ImageIO_jpeg_Data takes 77% memory.."
Hi Wang Wei,
My demo consists of several tableViewControllers with cells containing images downloaded from url, so I use:
cell.breadImageView.kf_setImageWithURL(NSURL(string: (bread.photoUrl!))!, placeholderImage: UIImage.init(named: "placeHolder"))

while sliding tableView in several different tableViewControllers, the memory booms rapidly from 12M to 500M..which will getting higher if I keep on

[2016-09-08 03:02] onevcat commented on #428
Kingfisher will cache the images in memory by default. If a memory warning is received, the memory cache will be purged automatically for you, so there is no worry about it.

If you need to limit the memory cache usage, set the `ImageCache.defaultCache. maxMemoryCost`.

[2016-09-08 03:04] AdvanceYe commented on #428
I see, thanks a lot~

[2016-09-08 03:04] #428 closed

[2016-09-08 03:04] onevcat commented on #428
Or you can call the `clearMemoryCache` of `ImageCache` to do a force purge too. But IMO, it is not necessary. It is already proved that Kingfisher could manage it very well (at least in all apps I am working on).

[2016-09-08 22:56] alexpopov opened #429 "|> operator conflicts with Prelude"
I extensively use robrix's µframework [Prelude](https://github.com/robrix/Prelude) which also defines a `|>` operator, albeit a lot more generally.

Would you consider changing your operator into either `+` or `++` since that seems more natural for concatenating two things?

I totally get it if not ¯\_(ツ)_/¯

[2016-09-09 01:12] onevcat commented on #429
I think you are right on it. Defining a new operator sometimes is not a good idea.

Thanks for catching it.

[2016-09-09 01:25] onevcat commented on #429
However, `+` or `++` cannot express the meaning of pipeline well. And there is no commutative property too (which might lead misunderstanding when using `+`). So I decide to use `>>` instead.

[2016-09-09 01:47] onevcat commented on #429
Fixed in https://github.com/onevcat/Kingfisher/pull/371/commits/3ac0dd1a06ec127f3cfd53b423e46884ec872037

[2016-09-09 01:47] #429 closed

[2016-09-09 02:12] onevcat commented on #426
Hi,
In swift3 branch we introduced an `ImageProcessor` to process images. Here we want to store the processed images instead of its original data (which is downloaded from web).

I just tried the `gifRepresentation` on a sample gif image (http://www.sherv.net/cm/emo/funny/2/big-dancing-banana-smiley-emoticon.gif) and it works well for me. `serializer.data(with: image, original: original)` returns

[2016-09-09 02:31] onevcat commented on #424
Most of users do not care about it, for them, it is just noise and implementation detail. So by hiding it could make the APIs of framework easier to use and understand.

[2016-09-09 02:31] #424 closed

[2016-09-09 02:32] onevcat commented on #419
Since we should be able to solve it by adding module name (and it is more about the Swift design pattern), so I am closing it.

[2016-09-09 02:33] onevcat commented on #415
So you could just pass `forceTransition` for the first time, and opt it in later setting.

[2016-09-09 02:33] #415 closed

[2016-09-09 02:33] onevcat commented on #415
Since it is not an issue but instead a question, I closed it.

[2016-09-09 02:35] onevcat commented on #414
If you need an HTTP basic auth, just `requestModifier`. If you need to handle with `NSURLCredential `, use `AuthenticationChallengeResponsable`. Please find more about both in the API reference and/or in our wiki.

Since it is not an issue but a question, I am closing it.

[2016-09-09 02:35] #414 closed

[2016-09-09 02:35] #404 closed

[2016-09-09 02:36] #411 closed

[2016-09-09 02:36] #397 closed

[2016-09-09 02:37] onevcat commented on #423
Hi, @cosmo1234

It depends on you, but both should work with cache.

[2016-09-09 02:38] onevcat commented on #416
Since there is no further response from @vethos . I am closing it.

If there is any similar case, feel free to reopen.

[2016-09-09 02:38] #416 closed

[2016-09-09 02:54] cosmo1234 commented on #423
Yes but when i turn off my wifi or there is no internet connection it is not loading the cached image

[2016-09-09 03:59] onevcat commented on #423
It should not happen.
Could you supply a demo so I can dig into?

Or you could just try the demo app inside this framework to see how it work?

[2016-09-09 08:47] leobarrospereira commented on #426
Hi @onevcat,

This is an example of one of the gifs that I'm using (https://raw.githubusercontent.com/leobarrospereira/files/master/images--KO9Glhl2T7C_b3qLKcX.gif)

In my case I download the image from the server not using the Kingfisher, I'm using the Firebase Storage. It returns the Data of the file, so I create a UIImage using this data and then I save it in the Kingfisher cache passing the im

[2016-09-13 09:14] guoweikun621 opened #432 "请问支持webp格式吗？"

[2016-09-13 15:24] rayman-v opened #433 "请问支持渐进式加载jpg图片吗？"

[2016-09-14 04:08] onevcat commented on #213
As mentioned above, should be customizable from Swift 3.

[2016-09-14 04:08] #213 closed

[2016-09-14 04:10] onevcat commented on #248
Implemented in Kingfisher 3. Check [`ImageProcessor`](https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#processor) for more.

[2016-09-14 04:10] #248 closed

[2016-09-14 04:11] onevcat commented on #315
Merged.

[2016-09-14 04:11] #315 closed

[2016-09-14 04:11] onevcat commented on #316
Should be fixed. Thanks all!

[2016-09-14 04:11] #316 closed

[2016-09-14 04:11] onevcat commented on #326
Implemented in Kingfisher 3. Check [`ImageProcessor`](https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#processor) for more.

[2016-09-14 04:11] #326 closed

[2016-09-14 04:12] onevcat commented on #348
Implemented in Kingfisher 3. Check [`ImageProcessor`](https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#processor) for more.

[2016-09-14 04:12] #348 closed

[2016-09-14 04:12] onevcat commented on #343
Swift 3 supported from Kingfisher 3, and in master branch now.

[2016-09-14 04:12] #343 closed

[2016-09-14 04:16] onevcat commented on #373
In Swift 3, we made `Resource` a protocol and to be the only acceptable thing for any extension method. Now you can implement this easily by making `String` adopt to `Resource` protocol.

I guess we could make it default in a later update.

[2016-09-14 04:17] onevcat commented on #432
WebP is not supported built-in the framework. However, if you are using Kingfisher 3 or later, it should be quite easy to implement your own `ImageProcessor` and `CacheSerializer` with any existing WebP framework easily.

Maybe we could build an official one later.

[2016-09-14 04:17] #432 closed

[2016-09-14 04:18] onevcat commented on #433
No. It is not supported yet. And there is no plan for it currently.

[2016-09-14 04:18] #433 closed

[2016-09-14 04:23] onevcat commented on #426
The system `UIImage(data:)` will not work for GIF data. How about changing it to the Kingfisher gif parser, I believe this should work for you:

[code]

[2016-09-14 04:27] onevcat commented on #376
The `kf_setImage` method will be always an async operation.

[2016-09-14 04:27] #392 closed

[2016-09-14 04:28] onevcat commented on #413
Implemented in Kingfisher 3.

[2016-09-14 04:28] #413 closed

[2016-09-14 04:28] onevcat commented on #401
Implemented in Kingfisher 3.

[2016-09-14 04:28] #401 closed

[2016-09-14 04:29] onevcat commented on #387
Done.

[2016-09-14 04:29] #387 closed

[2016-09-14 04:29] #384 closed

[2016-09-14 04:32] onevcat commented on #421
Thanks for the information. So it might be some issue in UIKit of iOS 10. Maybe it could be a better idea to fire a radar.

I will close this issue for now. If anyone find the same issue, would you please a comment and I could track on this later (if not fixed in the official iOS release.)

[2016-09-14 08:59] leobarrospereira commented on #426
Hi @onevcat

I tried your suggestion and it worked!
You can close the issue.

Thanks for your support!

[2016-09-14 09:57] burczyk commented on #248
Great news. Thanks for providing some implemented processors!

[2016-09-14 17:05] byrustamzade opened #434 "Pod install not working with 3.0"
When i try to install Kingfisher with Pod install it gives error:

None of your spec sources contain a spec satisfying the dependency: `Kingfisher (~> 3.0)`.

[2016-09-15 00:49] onevcat commented on #434
It works for me well.

Maybe you need update your pod spec with `pod update` first.
Since it is a CocoaPods issue instead of Kingfisher, I will close it.

[2016-09-15 00:49] #434 closed

[2016-09-15 00:52] #426 closed

[2016-09-15 00:53] onevcat commented on #426
Cool.

[2016-09-15 08:41] Viktormax commented on #434
I've the same issue too... tried to update source repos, nothing change

[2016-09-15 08:46] onevcat commented on #434
@Viktormax Kingfisher 3.x is [already in](https://cocoapods.org/pods/Kingfisher) CocoaPods's repo, so you'd better to submit it to CocoaPods if you are sure it's an issue.

ref: https://github.com/CocoaPods/CocoaPods/issues/5260 & https://github.com/CocoaPods/CocoaPods/issues/5545

[2016-09-15 09:43] helloniklas opened #436 "Transition fade does not work in Swift 3 Xcode8?"
The fade never happens,. Might this be related to Swift 3 Xcode8? Or am I missing something else.

`imageView.kf_setImage(with: url, options: [.transition(.fade(1.2))])`

[2016-09-15 09:47] #436 closed

[2016-09-16 05:04] jeffreyabarrios opened #437 "Swift 3 issues"
First of all, awesome repository thanks!!

Just updated to swift 3 and encountered this issues.

<img width="257" alt="screen shot 2016-09-15 at 11 01 17 pm" src="https://cloud.githubusercontent.com/assets/17255298/18575773/81e4aea8-7b98-11e6-98f2-18646b39485f.png">

[2016-09-16 05:30] jeffreyabarrios commented on #437
My bad, I was still on version 2 of the repository, sorry!

[2016-09-16 05:30] #437 closed

[2016-09-16 05:30] Sunitadaffodil opened #438 "App Rejection when used KingFisher"
Hey Hi,

First of all, thank you so much for such a great library.
So , I have submitted app to apple review , there it got rejected with following reason

Performance - 2.5.1 Your app uses or references the following non-public APIs: 1. imageCache The use of non-public APIs is not permitted

So from the reason , we can conclude , that apple has problem with imageCache keyword which may be apple i

[2016-09-16 06:43] onevcat commented on #438
Hi,

Only `ImageCache` is used as a very basic type name in Kingfisher and there is no `imageCache` property/syntax in Kingfisher. This (`ImageCahce` as type name) should never trigger a static analysis failing in private API.

Since there is no other report on this kind of rejecting until now, I believe it is more likely a bug of Apple's system or only your case (if you are using the letter-case

[2016-09-16 06:54] Sunitadaffodil commented on #438
Hey,

No I have not argued it with Apple's guys for it.
But I have confirmed , that imageCache is not used in project code.
 Let me argue with Apple , may be they can give exact insight into it.

Thanks for this qiuck response.

[2016-09-16 08:12] yigitserin opened #439 "Caching with redirect URL"
Hey there, in my application, I don't have access to final url of the image. I have to use a service to get to the URL. Which works fine.

However the problem is caching. Since I am using a service, once the image is downloaded, the cache key will be the same always (Service URL). But the image itself might have been changed.

What I need is to use the URL from result of the service instead of the

[2016-09-16 10:35] alimysoyang opened #440 "真机播放Gif崩溃"
3.0.1，在真机上播放Gif时崩溃，模拟器上不会崩溃，崩溃信息如下：
* thread #1: tid = 0x20e78a, 0x0000000184a3627c vImage`vPremultipliedAlphaBlendWithPermute_ARGB8888 + 836, queue = 'com.apple.main-thread', stop reason = EXC_BAD_ACCESS (code=1, address=0x10ada4000)
    frame #0: 0x0000000184a3627c vImage`vPremultipliedAlphaBlendWithPermute_ARGB8888 + 836
    frame #1: 0x0000000184a2eb7c vImage`vImagePremultipliedAlphaBlendWithP

[2016-09-16 12:12] NBoymanns commented on #10
@onevcat I used you're solution for basic Auth:

`KingfisherManager.sharedManager.downloader.requestModifier = {
        (request: NSMutableURLRequest) in
        // Do what you need to modify the download request.
}`

Can you tell me how to do this with the new Kingfisher 3.0 :)?

[2016-09-17 02:42] alimysoyang commented on #440
请问一个问题，AnimatedImageView这个类是不是只能显示本地GIF，不能显示网络GIF，谢谢

[2016-09-17 14:51] onevcat commented on #438
@Sunitadaffodil Sure!

Please let me know the result so I could see whether we should do something on it.

[2016-09-17 14:53] onevcat commented on #439
When you are passing a url, it is converted to a `Resource` with the url and its absolute string as cache key in fact.

So instead of barely passing a url, you could create a `Resource` with an URL and a customized cache key, then pass it to Kingfisher to process.

[2016-09-17 19:27] ntnhon commented on #421
I'm facing the same problem. It seems to come from UIKit lately. When I remove the cornerRadius or maskToBounds it works ok. I did try with both iOS 9 and 10 but it produces the same way. Any idea?

[2016-09-18 11:58] iLucas97 opened #443 "Building xCode 8 Swift 3.0"
When i build xCode returns swift syntax errors (48 syntax error)  inside the library. Any idea??
I thought of downloading different versions, but cocoapods takes directly 3.0.1 (compatible with swift 3. right?)
(https://cloud.githubusercontent.com/assets/5815778/18615460/0b8ca000-7da8-11e6-9ae9-e3dc44426bf5.png)
This is my pod.

[2016-09-18 12:51] wangghon commented on #443
I have the same issue as iLucas97 mentioned above

[2016-09-18 13:36] thieu75 commented on #443
I also have the same problem.
CocoaPods install 2.x when using Pod 'Kingfisher'.

Pod 'Kingfisher', '~> 3.0' generate an error during pod install

So I also use
`pod 'Kingfisher', :git => 'https://github.com/onevcat/Kingfisher', :branch => 'master'`

104 issues for me. 👍  !!
Thanks,
Matthieu

[2016-09-18 18:53] bedaronco commented on #421
Might have found a fix.  Try adding self.setNeedsLayout() to your completionHandler of kf_setImage.

[2016-09-19 01:29] onevcat commented on #421
@bedaronco It could be a workaround. Thanks for reporting this.

Since the problem is reported as reproducible. I will reopen this to see whether we could have a better solution.

[2016-09-19 07:58] HighmoreJx opened #444 "kf_setImageWithURL not respone!"
completionHandler: {[weak base] image, error, cacheType, imageURL in
                DispatchQueue.main.safeAsync {
                    guard let strongBase = base, imageURL == self.webURL else {
                        return
                    }
                    self.setImageTask(nil)
                    guard let image = image else {
                        maybeIndicator?.stopAnimatingView

[2016-09-19 10:15] Sundin commented on #443
`pod 'Kingfisher', :git => 'https://github.com/onevcat/Kingfisher.git', :tag => '3.0.0`
solved the issue for me.

[2016-09-19 12:32] ntnhon commented on #421
@bedaronco, @onevcat  thank for pointing out. Will forcing setNeedsLayout() at every image load cause performance problem?

[2016-09-19 14:24] bedaronco commented on #421
@ntnhon It will definitely use additional resources than if you don't call this.  But setNeedsLayout() doesn't do anything immediately.  It is supposed to wait for the next drawing cycle before laying out the view.  So there shouldn't be a huge impact on performance, if any.

And, as @onevcat mentioned, this is most likely just a temporary workaround.  There should be something that can be done in

[2016-09-19 21:17] jawwad commented on #421
Calling `self.setNeedsLayout()` in the completion handler didn't work for me but calling `imageView.layouIfNeeded()` right before I set the corner radius on the imageView worked.

Reference: http://stackoverflow.com/a/39380129/340508

[2016-09-19 21:19] bedaronco commented on #421
@jawwad What is `self` in your case?

[2016-09-19 21:21] jawwad commented on #421
@bedaronco - I tried it on a subclass of UICollectionViewCell.

[2016-09-19 21:23] ntnhon commented on #421
Yes right, I actually did the same way to get things work: call
layoutIfNeeded on imageView and set corner radius right after that. I
also marked it as a todo for eventual optimization, it seems a bad idea for
me to continuously layout and set corner radius.

On Monday, 19 September 2016, Jawwad Ahmad <notifications@github.com> wrote:

[2016-09-19 21:23] bedaronco commented on #421
In the completion handler I would call setNeedsLayout() on the imageView, not self and see if that works.

[2016-09-19 21:29] jawwad commented on #421
@bedaronco - Just tried it and it didn't work. Also tried with layoutIfNeeded and it didn't work either.

For clarity here is what I tried. So this didn't work:
[code]

But this did:

[code]

[2016-09-19 21:44] bedaronco commented on #421
@jawwad - Interesting.  Maybe because I'm setting corderRadius in `override func layoutSubviews()`?

[2016-09-20 02:56] onevcat commented on #444
No, there was no callback from long ago. It is not an error, but indicating the image view itself gets released. Since the owner of this code does not existing in this case anymore, there seems no reason to have any callback to be invoked. No one should expect a result here.

[2016-09-20 02:56] #444 closed

[2016-09-20 03:05] hifall opened #447 "Loading indicator disappears randomly."
I found the loading indicator can disappear sometimes in such a scenario, but I have not found a consistent repro yet.

This happens in a table view with some chat messages.
1 fill the table view with about a dozen messages;
2 inert an image message whose image is managed by Kingfisher by calling:
            imageView?.kf_showIndicatorWhenLoading = true
            imageView?.kf_indicatorType = .

[2016-09-20 03:11] onevcat commented on #443
@Sundin Thanks for the solution.

@thieu75 @iLucas97 I believe it should be a CocoaPods issue when using branch to build instead of tag. Maybe it misses some config when using a branch.

Besides of that, I suggest always to use a tag (released version) in your Podfile and/or Cartfile. Although it should work, there is no guarantee that the master branch would always work. Since it is a dev branch,

[2016-09-20 03:35] onevcat commented on #10
@NBoymanns
Take a look at [this](https://github.com/onevcat/Kingfisher/wiki/Kingfisher-3.0-Migration-Guide#imagedownloader) and [this](https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#modify-a-request-before-sending)

[2016-09-20 03:41] onevcat commented on #447
Will take a look at it soon.

[2016-09-20 05:13] onevcat commented on #370
You could try to set `preloadAllGIF` to true to decode all data at once to get better scrolling performance (with more using of memory although.)

[2016-09-20 05:13] #370 closed

[2016-09-20 07:04] onevcat commented on #421
After some research on this, I found it might relate this change mentioned in iOS 10 SDK release note:

These changes correct this behavior, and the receiver’s position and usually its size won’t be affected by layoutIfNeeded.

I guess it might be a side effect of this change. Now the `bounds` and `frame` property of image view is not correct at first time. So you are getting wrong sizing related

[2016-09-20 12:15] vw-carrot commented on #421
We see the same problem on iOS 9—an image view in a UITableViewCell, contained in a view with rounded corners. Sometimes not all of the images display on the first go, but if I scroll the offending cells out of and back into view, they're rendered correctly.

Putting a `cell.setNeedsLayout()` after the `cell.voucherImageView.kf_setImageWithURL(voucher.imageURL)` call seems to work around the issue

[2016-09-20 12:19] ratkins commented on #421
We have exactly the same problem on iOS 9: `UIImageView`s which are subviews of a `UIView` with rounded corners in a `UITableViewCell` don't always render properly the first go. Scrolling the cells off and then back onto the screen fixes the problem.

Adding `cell.setNeedsLayout()` after the `cell.voucherImageView.kf_setImageWithURL(voucher.imageURL)` call works around the problem for us.

[2016-09-21 01:01] onevcat commented on #421
@ratkins It's not related to the system version you are running, but the SDK version you are linking to. It always happens when using iOS 10 SDK.

[2016-09-21 01:19] bedaronco commented on #421
@onevcat - `RoundCornerImageProcessor` does work.  It took me a little while because it didn't seem like it was working at first due to image sizes.  I ended up doing the following:

    let processor = RoundCornerImageProcessor(cornerRadius: self.profilePic.bounds.height / 2,
        targetSize: CGSize(width: self.profilePic.bounds.width,
                           height: self.profilePic.bounds.

[2016-09-21 01:31] onevcat commented on #421
@bedaronco I could remember there was an issue by setting it to the screen scale. But I am not sure about it right now. I will double check that again.

[2016-09-21 02:13] onevcat commented on #447
@hifall Hi,

After some investigation, I believe there is no issue in Kingfisher's loading indicator behaviors.

The issue you encountered might be related to the changes on collection view/table view in iOS 10. If you are calling Kingfisher's `cancelDownloadTask` in `didEndDisplaying` delegate method and resetting the image in `collectionView(:cellForItemAt:)`, you may suffer this. Since in iOS 1

[2016-09-21 02:14] onevcat commented on #447
You could find more about this change in iOS in [session 219](https://developer.apple.com/videos/play/wwdc2016/219/)

[2016-09-21 03:11] onevcat commented on #447
Some sample code added in #448 to show how to get performance benefit from iOS 10's prefetching cell and new cell life cycle.

[2016-09-21 04:16] onevcat opened #449 "Better & more stable CI"
Currently we are suffering from unstable CI which might fail time to time when testing parallels. It is mainly a known issue of travis, but the workaround does not always work: https://github.com/onevcat/Kingfisher/pull/408

I will try to improve it by switching to a serial way of testing. It might cause the building & testing slower, but without the annoying failing problem.

Besides of that, we

[2016-09-21 04:18] onevcat commented on #443
It turned out to be an error in Kingfisher master branch, which causes it could not pass the cocoapods lint. Maybe we should add cocoapods lint to daily CI instead of only doing it when releasing. I will improve the CI integration later. https://github.com/onevcat/Kingfisher/issues/449

The master branch should also work now. But as the same, I suggest to use a released version instead of a branch

[2016-09-21 04:18] #443 closed

[2016-09-21 04:51] hifall commented on #447
Okay -- thanks for the heads-up. But the issue happened in iOS 9.3.5, instead of 10. Not sure enough at the moment what's going on, yet.

I will take a deeper look into this later.

[2016-09-21 06:41] onevcat commented on #440
@alimysoyang It should be able to display either local and remote GIF file. May I know the url address of your GIF file so I could have a deeper look at it.

Thanks!

[2016-09-21 14:46] yuyongmao opened #450 "leaks issue"
using xcode8 and swift 3
<img width="1023" alt="screen shot 2016-09-21 at 22 44 10" src="https://cloud.githubusercontent.com/assets/8936260/18715791/194956d2-804d-11e6-8e15-b3ba619be8e3.png">

[2016-09-21 15:48] Mazorati commented on #358
+1

[2016-09-21 21:14] jayisidoro opened #451 ""Module file was created by an older version of the compiler...""
Module file was created by an older version of the compiler; rebuild 'Kingfisher and try again:"

I'm getting this message after I installed the using Cocoapods. I put this in my pod file:
    pod 'Kingfisher', '~> 3.0'

Any ideas why this is happening / how to fix it? i've tried reinstalling, i've tried cleaning and building. But nothing is working!

[2016-09-22 08:53] gregorpichler opened #452 "Unauthorized status code using SSL connection"
Hi,

first of all I really love this library. However I'm facing some troubles trying to load images with an HTTPS connection with a self signed certificate.

My current setup looks like this

[code]

However `setImage`always returns with a 401 status code.

[2016-09-22 18:54] adrianhr91 opened #453 "Modifying requests once"
In 2.x we I used `downloader.requestModifier` do add some additional headers to each request. Now that property has been removed and there are 2 contradicting alternatives.

1. The wiki here on github says to pass a closure to `setImage`. I don't want to do this ideally as all requests would have the same headers added.
2. In the code the `requestModifier` method is annotated and states

However t

[2016-09-22 21:53] adrianhr91 commented on #453
Actually found a solution to my problem, posting it here in case someone is having the same issue.

[code]

[2016-09-22 21:53] #453 closed

[2016-09-22 23:19] onevcat commented on #453
@adrianhr91 Oops, the comment is outdated. Use [this](https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#modify-a-request-before-sending) instead.

If you were mentioning this in your 1, you can have only one `AnyModifier` and pass it as an option everywhere.

[2016-09-22 23:20] onevcat opened #454 "Update outdated comment of modifier"
As mentioned in #453

[2016-09-23 09:32] hifall commented on #447
So, I did try a few more times on iOS 9.3.5., and I saw the issue again. Although I did not dig through the source code to find the problem.

[2016-09-23 14:30] anooj1483 commented on #388
I have the latest Xcode 8.0 (8A218a). After installing Kingfisher via pods, Xcode prompts me to convert it to Swift 3. When I choose to convert, it gives me lots of conversion issues.

![screen shot 2016-09-23 at 8 00 08 pm](https://cloud.githubusercontent.com/assets/6260395/18789383/6b1419bc-81c8-11e6-93e2-5d261f921f29.png)

![screen shot 2016-09-23 at 7 50 42 pm](https://cloud.githubusercontent.

[2016-09-24 08:13] weichencoder opened #455 "可否增加一个新功能？"
是否可以增加一个等比缩放图片的功能。。网络图片尺寸大小不一，需要裁剪一下，因此要等比缩放才能保证不压缩。。试图在你的里进行修改。可没找到这么做。。
方法如下：
    private func imageCompressForSize(sourceImg : UIImage, targetSize : CGSize) -> UIImage{
        var newImg : UIImage? = nil
        let imgSize : CGSize = sourceImg.size
        let width : CGFloat = imgSize.width
        let height : CGFloat = imgSize.height

        let targetWidth : CGFloat = targetSize.width

[2016-09-24 11:32] alimysoyang commented on #440
我说一下我调用的方法，初始化一个AnimatedImageView，如下：
fileprivate lazy var ivMonsterEmoji:AnimatedImageView = {
        let imageView:AnimatedImageView = AnimatedImageView(frame: CGRect.zero);
        imageView.contentMode = UIViewContentMode.scaleAspectFit;
        imageView.isHidden = true;
        imageView.autoPlayAnimatedImage = false;
        return imageView;
   }();

调用远端GIF
        self.ivMonsterEmoji.kf

[2016-09-26 01:29] onevcat commented on #455
Hi,

If you are using Swift 3 and Kingfisher 3, it could be easily implemented with an `ImageProcessor`.

You could create a type which conforms to `ImageProcessor` and pass it as an option into the image setting extension method. Please see [`Processor`](https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#processor) part of wiki to get more info about this. :)

[2016-09-26 01:29] #455 closed

[2016-09-26 01:58] onevcat commented on #388
@anooj1483
:(
Didn't receive other reports on it. Did you try something like restart your Xcode or clean the project?

You may also need to add the SWIFT_VERSION option in your build setting.

[2016-09-26 02:27] onevcat commented on #451
Sometimes you need to restart your Xcode to make the error gone. :(

And you might also need the newest CocoaPods (1.1.0 or its RC versions) for Swift 3 support.

[2016-09-26 02:31] onevcat commented on #450
May I get a demo or any hits for this?
I cannot reproduce any leak in the demo project (Kingfisher-Demo) in the repo.

[2016-09-26 05:21] anooj1483 commented on #388
@onevcat
Thanks. I found your comment in Cocoapods GitHub.
This issue got fixed by updating pods. ( `pod update` )

[2016-09-26 12:20] Codeido commented on #447
I have the same problem, before Xcode 8 and the transition to swift 2.3, the activity indicator worked properly on all my collectionViews. Now it doesn't work.

[2016-09-27 01:11] onevcat commented on #447
@Codeido I can not reproduce this issue on my environment (I tried both iOS 9 and 10).

Can you build a sample project for this? So I can dig into it deeper.

[2016-09-27 03:54] weichencoder commented on #455
谢大喵神

[2016-09-27 12:50] Codeido commented on #447
@onevcat you used swift 2.3?

[2016-09-27 12:56] Mathieu-o opened #457 "ImageDownloader and ImageProcessor issue"
Hi!

I believe I've found a bug in the ImageDownloader code. Here is how it goes:
There is this optimization where if you try to download N times from the same URL you'll just do one URLSessionDataTask and call N times the callback at the end of the download.
That's all good and fine. But what we do and that doesn't work is that we launch two (or more) requests for the same URL but we use differen

[2016-09-27 13:01] xspyhack opened #458 "RoundCornerImageProcessor white background color in the corner"
I am sure that the white color is not imageView's background color.

And this bug just be catch in sometimes event if the same image.

![img_1189](https://cloud.githubusercontent.com/assets/5518285/18873889/16f7bf26-84f4-11e6-8a69-62a17e0c2f6c.PNG)

[2016-09-27 13:08] xspyhack commented on #458
It seems that this issue just happen when the image had be cached in the disk.

[2016-09-27 13:09] onevcat commented on #457
@Mathieu-o Oops. You are definitely correct on this! Thanks for pointing this out.

I will take a look at your patch later, and decide a good way for it!

[2016-09-27 13:19] onevcat commented on #458
By default, Kingfisher will follow your image format when caching (serializing) your image. If you are using a JPEG, the transparency of round corner will be lost when saving as a JPEG, which leads the bg color to be the default white.

A possible solution would be supplying PNG images instead of JPEG, or creating a `CacheSerializer` which always convert an image object to png data by using `PNGRe

[2016-09-27 14:19] xspyhack commented on #458
It works well with `CacheSerializer`, thanks for your help! 💐

[2016-09-27 14:19] #458 closed

[2016-09-27 15:15] onevcat commented on #457
Just had a look at your implementation, and it seems quite good to me!

But I guess we could refactor that a bit to make things more clear. I will give it a fix soon (maybe tomorrow) and release an update for it.

Thank you again for reporting this. Great work 👍  :)

[2016-09-27 15:22] Mathieu-o commented on #457
Yeah well tbh I did a PoC style patch. I think grouping the callbacks and option in a tuple might be a good idea in order to avoid dealing with double indexes. And the whole repetition of what callback() is doing in processImage() is also ugly. I wanted to introduce a callback(atIndex:) variant but that didn't turn to be good.

[2016-09-27 16:59] Limon-O-O opened #459 "Crash on iPhone device (iOS 10.0.1), when options append `ResizingImageProcessor`"
When I want to resize the `https://bubble-m.b0.upaiyun.com/thumbnail/3/79a0c0f859cc46fd9463dc7377c1318c` image on my iPhone device with `ResizingImageProcessor `,
and crash at `context.draw(self, in: CGRect(x: 0, y: 0, width: width, height: height))`,
but not crash on simulator.

[code]

[2016-09-28 00:51] onevcat commented on #447
Yes, I tried swift2.3 branch and cannot reproduce it.

But I did find a bug which might stop you from setting the `kf_showIndicatorWhenLoading` to `false`, but it should not relate to this issue, if you are only setting it to `true`.

[2016-09-28 00:52] onevcat commented on #459
Thanks for reporting! I'll take a look at it soon.

[2016-09-28 02:32] onevcat commented on #457
Should be fixed in #460

I will release an update for it later today.

[2016-09-28 02:42] #457 closed

[2016-09-28 03:40] onevcat commented on #421
@bedaronco The scale here means the image scale, instead of the screen scale.

Maybe we should modify the name to clarify it later!
Thanks.

[2016-09-28 03:40] #421 closed

[2016-09-28 05:08] onevcat commented on #459
Should be fixed in version 3.1.1. Let me know it does not work for you!

[2016-09-28 05:08] #459 closed

[2016-09-28 05:08] onevcat commented on #440
Should be resolved in #461 and version 3.1.1. Would you like to confirm it in the latest version? Thanks!

[2016-09-28 05:08] #440 closed

[2016-09-28 05:09] onevcat commented on #457
Version 3.1.1 was released for this.

[2016-09-28 09:44] Codeido commented on #447
I fixed it on swift 2.3 and iOS 10 calling kf_showIndicatorWhenLoading=true before the method kf_setImageWithURL 👍  :|

[2016-09-28 09:46] onevcat commented on #447
@Codeido So may I know what's your original code? Maybe it could be improved.

[2016-09-28 10:25] Codeido commented on #447
Yeah @onevcat !

My original code was:

[code]

now is:

[code]

[2016-09-28 10:46] hifall commented on #447
@Codeido,

I don't see much difference between your code and what I posted at top, except that you pass in non-nil optionsInfo. I tried yours, but the problem stays.

[2016-09-28 10:56] hifall commented on #447
@onevcat,

Regarding your comment: "But I did find a bug which might stop you from setting the kf_showIndicatorWhenLoading to false, but it should not relate to this issue, if you are only setting it to true.", this is what it's like in our scenario: we have 2 types of images managed using Kingfisher, one that displays a loading indicator when the image is being loaded, and the other one that disp

[2016-09-28 11:03] hifall commented on #447
@onevcat,

This issue happens around 50% chance on my device. So once you have a fix for the kf_showIndicatorWhenLoading issue you mentioned, maybe I can give it a test here.

[2016-09-28 13:10] onevcat commented on #447
@Codeido That's true, you need to set the loading indicator before you begin loading an image.

@hifall I pushed a commit for it in swift2.3 branch. Would you like to give it a try?

[2016-09-28 14:01] hifall commented on #447
Cool. Trying that now...

[2016-09-28 14:07] hifall commented on #447
@onevcat,

I am not seeing any new commit from last few hours in swift2.3 branch. Am I missing something here?

[2016-09-28 22:53] onevcat commented on #447
It should be there.

https://github.com/onevcat/Kingfisher/commit/c20e4556e84326e47e7e8081ea6903b2c2c00a39

I made the change earlier, just didn't push it until now.

[2016-09-29 00:32] hifall commented on #447
Thanks @onevcat.

I have tested your fix. But the problem still shows.

[2016-09-29 08:47] Herb-Sun opened #462 "How to support SVG' Image"
How to support SVG' Image

[2016-09-30 01:02] onevcat commented on #447
@hifall Ummm, checked the code again and not sure about why.

Are you trying to set the indicator and/or image in another thread instead of main thread?

[2016-09-30 01:03] onevcat commented on #447
Or if there is a demo could reproduce it, I'd like to dig it deeper. Currently I cannot reproduce it so it's quite hard to debug.

[2016-10-02 08:01] MaeseppTarvo commented on #438
I can say that in my previous version of application I also used erlier version of Kingfisher and I had no problems uploading my application. Now I converted to Swift 3, should I be scared? Which version of Kingfisher you are using?

[2016-10-02 15:56] Mazorati opened #463 "Access-Token for all requests"
Hello!
Thanks for this library!
I have a question: How to implement Access-Token header for all requests?

With [this](https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#modify-a-request-before-sending) cheat i have huge amount of code.. Thanks again!

[2016-10-03 01:01] onevcat commented on #463
Currently the default options cannot be modified. So a possible solution would be creating a helper method and pass that modifier there. Then you could use your helper method instead of original one in Kingfisher.

[2016-10-03 01:03] onevcat commented on #462
Hi,

You need to implement your own `ImageProcessor` to convert svg data to an image object (`UIImage` or `NSImage`). I believe you can find some other libraries for it. So generally speaking you need to have Kingfisher and that converting library working together.

[2016-10-03 01:04] onevcat commented on #462
See [Create and use your own processor](https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#create-and-use-your-own-processor) part too.

[2016-10-03 04:52] Mazorati commented on #463
@onevcat but what about solution in [this issues](https://github.com/onevcat/Kingfisher/issues/452)?

[2016-10-03 14:04] phimage commented on #452
Maybe you swap key and value
[code]

[2016-10-03 14:10] phimage commented on #463
@Mazorati the issue you point out #452 is described also here https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#use-your-own-session-configuration-in-a-downloader and must work

[2016-10-03 14:27] gregorpichler commented on #452
Hi @phimage, thanks for your very good hint! Unfortunately I'm still having the same authorization problem

[2016-10-04 01:22] onevcat commented on #452
@gregorpichler Can you access your resource with a plain `URLSession` task?

Kingfisher is using a very simple `URLSession` way to download image data, so if you can download the images by a session you create yourself, it should also work in Kingfisher.

And instead of modifying the session configuration, would you like to try to use the `requestModifier` to add the header? It is a suggested way

[2016-10-04 03:36] isneyl16 opened #464 "How can a resized image can be stored, then use it instead of the original?"

[2016-10-04 11:34] gregorpichler commented on #452
@onevcat thanks for your answer. I've changed my code from modifying the session configuration to `requestModifier`.

I think the problem is that I need to tell `URLSession` that it should trust my self-signed certificate, I somehow thought that the option `trustedHosts = Set(["testing.mywebsite.com", "api.mywebsite.com"])` will solve the problem. Am I doing something wrong with this setting?

[2016-10-04 21:56] newmanw opened #465 "Center crop ImageProcessor"
Issue #320 talks about a crop image processor.

Do you think a center crop image processor fits into the current collection of core processors?

[2016-10-05 00:54] onevcat commented on #465
Sure, it could be a great improvement! Do you have time to implement it? (or I will handle it later since I'm getting quite busy for now)

[2016-10-05 01:01] onevcat commented on #452
@gregorpichler If your server return you a 401, it means your authorization information is not correct. IMO, that is not the self-signed certification issue here (I am not sure though).

So, you could first try whether you could access your image data by creating your own `URLSession` and with the token you are using. If the server turns to 200, there must be something wrong in Kingfisher's downlo

[2016-10-05 01:09] newmanw commented on #465
I can certainly take a crack at it, with a warning that I just started using swift ;)

Do you think it makes more sense as a separate ImageProcessor, or possibly as part of options passed to the current resize processor?

[2016-10-05 01:10] onevcat commented on #465
I believe it would be better to be a new one :)

[2016-10-05 01:11] onevcat commented on #465
With crop anchor as parameter, and center as its default value.

[2016-10-05 05:48] huangy10 opened #466 "Gif support"
As mentioned in the title, add support for gif image, please.

[2016-10-05 05:51] #466 closed

[2016-10-05 07:55] gregorpichler commented on #452
@onevcat I'm not sure if it works with `URLSesssion` due to the self-signed certificate. What I can confirm is, that it works with Postman if I turn off SSL certificate verification and use the same bearer token that I'm using in the app.

[2016-10-05 08:05] onevcat commented on #452
Is it a POST request or a GET one? By default Kingfisher will use GET method. If your server expects a POST request, you also need to change it in modifier.

[2016-10-05 08:08] gregorpichler commented on #452
Yeah just double checked it, it's a GET.

[2016-10-05 08:13] onevcat commented on #464
Not quite sure what does you mean. And in fact it's not a proper place to ask question in GitHub issues.

But maybe you could try the [`ResizingImageProcessor`](https://github.com/onevcat/Kingfisher/blob/master/Sources/ImageProcessor.swift#L165).

[2016-10-05 08:13] #462 closed

[2016-10-05 08:13] onevcat commented on #454
Done.

[2016-10-05 08:13] #454 closed

[2016-10-05 08:23] onevcat commented on #452
Ummm.

I turn back to suggest you to try to implement a demo of getting the data with `URLSession` first. Once you can get the image by an `URLSession`, we could get to know where the problem exactly happens and give it a fix.

You could ignore the self-signed certification check by setting the session delegate and supply a proper method for challenge (see [this](http://stackoverflow.com/questions

[2016-10-05 08:35] gregorpichler commented on #452
Hmmm I doubt that it has something to do with a token issue, as I'm performing a couple of other requests to the server that are working. For other network requests I'm using Moya, where I set the following manager

`    class func trustCaCert() -> Manager {

        let policies: [String: ServerTrustPolicy] = [
            "testing.mywebsite.com": .pinCertificates(
                certificates: S

[2016-10-05 09:11] onevcat commented on #452
Nope. Kingfisher is not a networking request framework at last. It only supplied simple server trust certification. If you need to use a certification in the app bundle, you may need to implement the [`authenticationChallengeResponder`](https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#authentication-with-nsurlcredential) and create it from your bundle cert with `SecCertificateCreateWithData`

[2016-10-05 15:14] pajapro opened #468 "Swift 3 slow compile time issue"
Hi guys,

we just converted our project to Swift 3 and noticed significantly slower compile time. This morning Ayaka Nonaka tweeted a link to an interesting article [Profiling your Swift compilation times](http://irace.me/swift-profiling). I compile our app with the proposed command:

`xcodebuild -workspace App.xcworkspace -scheme App clean build OTHER_SWIFT_FLAGS="-Xfrontend -debug-time-function-

[2016-10-05 16:45] AndrewBarba opened #469 "Cannot set kf.indicatorType in swift 3"
See below:

<img width="956" alt="screen shot 2016-10-05 at 12 43 14 pm" src="https://cloud.githubusercontent.com/assets/1316152/19122657/7a8e6fca-8af9-11e6-8f1f-122a22f46a2e.png">

It makes sense, since `kf` is a struct, setting a property would have to change `kf` on the image view but I believe you only have a getter for that.

Using `kf_indicatorType = .activity` continues to work but shows th

[2016-10-05 22:02] AndrewBarba commented on #469
I should have been more clear, this does not compile:

[code]

But this does:

[code]

The screenshot I posted is my own extension on `UIImageView` which I guess is the same thing as the `let` case

[2016-10-06 00:59] onevcat commented on #469
:( You are right. I will take a look to see what we could do for it.

[2016-10-06 01:01] onevcat commented on #468
I will give it a tag and release a new version now.

[2016-10-06 01:01] #468 closed

[2016-10-06 01:50] onevcat commented on #469
Fixed in #470

[2016-10-06 01:50] #469 closed

[2016-10-06 02:07] AlbertoGuerreroMartin opened #471 "Problems with cache and custom image processor"
I have implemented a custom ImageProcessor for applying a grayscale filter when downloading images with Kingfisher, and I'm using it on a tableview's cells (one image per cell).

The problem that I've found is that, while I was developing the filter, Kingfisher cached the images without applying the processor. In an attempt to surround this (at least while developing), I added a  bar button item f

[2016-10-06 04:23] onevcat commented on #471
May I know how did you set the image with processor?

If you are using the image view extension, Kingfisher will send the processed image to cache by default, so it is intended that the processor method not being called again when retrieving data from cache, since the data should already be precessed before being stored.

[2016-10-06 04:50] vuvan01 opened #472 "Gif support - stop & resume gif"
Does Kingfisher support stop & resume gif animation?
Currently when I do: kf.setImage(url) with url is remote gif file, the gif file is automatically playing after Kingfisher finish downloading the file

[2016-10-06 04:56] onevcat commented on #472
Maybe you need [this](https://developer.apple.com/reference/uikit/uiimageview/1621057-stopanimating) if you are using `UIImageView`.

And it is not the correct place in GitHub issue to ask questions.

[2016-10-06 04:56] #472 closed

[2016-10-06 11:05] pajapro commented on #468
Awesome thanks @frankrausch, @onevcat

[2016-10-06 11:56] LarsWith opened #473 "I few questions to get started"
Thanks for sharing this!

1. I wonder if I have to clear cache manually? - Coz I've seen tickets here with people saying that their app crached when scrolling to fast

2. Should I set a max disk cache size in viewdidload Eg: `ImageCache.default.maxDiskCacheSize = 50 * 1024 * 1024` or it it safe to go with the default value?

[2016-10-07 01:07] onevcat commented on #473
1. We are using Kingfisher heavily in a commercial app ourselves. We didn't encounter a memory issue for now, so it should not be a problem and we didn't do any cleaning cache things manually. If you are trying to load a lot of images in a table/collection view, you may want to load the thumbnail version of it, instead of the original one. And you can cancel the task when the cell disappeared to r

[2016-10-07 01:09] onevcat commented on #471
@AlbertoGuerreroMartin Hmmm, interesting. You mean the `process` method didn't get called at all?

Could you post your implementation of `grayscaleProcessor` here? Or even better, preparing a sample project which could reproduce it. I could have a detail look at it then.

[2016-10-07 14:50] LarsWith commented on #473
@onevcat thanks!
Right now I am using it like this in my tableview:
`myImage.kf.setImage(with: thumbUrl, placeholder: placeImg, options: [.transition(.fade(0.2))])`
- It downloads a thumbnail like you said

And in `didEndDisplaying` I call `myImage.kf.cancelDownloadTask()`

I have not seen any issues with memory/cache I just wanted to double check :)

Two questions:

How do I call `clearMemoryCach

[2016-10-07 16:19] AlbertoGuerreroMartin commented on #471
ok @onevcat , nevermind, I had an old version of Kingfisher. After updating it, everything is working fine 😅  sorry and thanks!

[2016-10-07 16:19] #471 closed

[2016-10-10 09:41] BaiCanLin opened #474 "KingfisherOptionsInfoItem.Options(KingfisherOptions.ScreenScale) how to use in Xcode8 swift2.3 kingfisherversion(2.60)"
KingfisherOptionsInfoItem.Options(KingfisherOptions.ScreenScale) how to use in Xcode8 swift2.3 kingfisherversion(2.60)

[2016-10-11 02:45] onevcat commented on #473
For the clean/clear cache things, Kingfisher will do that in memory warning automatically, so you do not have to do it yourself (and twice).

For the code in cheat sheet, it just demonstrates you could use these APIs, there is no relationship and no need to set them both. I am sorry for the confusion it caused.

[2016-10-11 21:51] Minitour opened #475 "Perform changes on UIImage before it is set on UIImageView"
Hi, I was wondering if there is a function where I can make changes to the UIImage before it is set on the UIImageView. For example in this code:

[code]
Of course I can modify the uiimage inside the closure and then set it on the ImageView again but it would be just redundant memory consumption.

[2016-10-12 00:50] uknowmeright opened #476 "TableView cells in Container only loading first image"
So I have a ContainerView that is contains a UITableviewController. In the UITableviewController I am using this code:

[code]

Now the first Cell Image loads, however, the rest of Cells all have the SAME image. I have tried running dispatch_async(dispatch_get_main_queue(),{ }) in multiple places for fear of it being a thread issue but still have had no luck. Any Ideas what might be causing this?

[2016-10-12 01:09] onevcat commented on #476
There should be no need to run with `dispatch_async`. However, I have no idea about what causes it. The code seems good to me and it should work if you have correct model.

[2016-10-12 01:11] onevcat commented on #475
The `ImageProcessor` should be your choice. See [this](https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#processor) for more.

[2016-10-12 05:55] fuboyou opened #477 "缓存读取时间长"
hi，喵神，当我使用下面的方法获取网络图片时，通过第一次调用，图片已经通过网络请求缓存到了本地，当第二次调用时，placeholderImage仍然会显示大概一秒，才会显示网络图片，但是如果placeholderImage设置为nil，之前图片会先消失，等一秒左右才显示正确的图片。
`public func kf_setImageWithURL(URL: NSURL?,
                                   placeholderImage: Image? = nil,
                                   optionsInfo: KingfisherOptionsInfo? = nil,
                                   progressBlock: DownloadProgressBl

[2016-10-12 09:13] Minitour commented on #475
This ImageProcessor is quite limited, I need to run my own functions on the image.
I was actually thinking that for future updates you can implement a function like this one:
[code]

where the usage would be as the following:
[code]

[2016-10-12 09:38] onevcat commented on #475
Maybe you mean this one? https://github.com/onevcat/Kingfisher/issues/465

I do not have a chance to implement it yet, but any p-r for this is welcomed.

[2016-10-12 09:42] Minitour commented on #475
@onevcat Alright I'll see if I can do it myself. Can you refer to me inside the source code where is the function "setImage" is implemented?

[2016-10-12 12:42] onevcat commented on #475
There should be no need to worry about the `setImage` things. You could just add a struct which conforms to `ImageProcessor` and implement the logic of converting some data and/or an image to the cropped one. You can find other built-in `ImageProcessor` in the file with the same name, and follow the implementation there. :)

[2016-10-12 13:36] Minitour commented on #475
Yeah that's seems like the perfect solution for now. Thanks a lot :D

[2016-10-12 13:36] #475 closed

[2016-10-12 17:30] MaeseppTarvo opened #478 "What is the new Resource?"
I am not able to use my converted "Data" to the URL to use it in kf.setImage(with:..). I am using downloading image from Firebase. However I do it using the data and this version is not working. Image is not being displayed:

[code]

Can you please help me?

[2016-10-12 20:11] #478 closed

[2016-10-12 23:14] Maikol opened #479 "Typo in Cheat Sheet"
There's a typo [here](https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#set-longest-time-duration-of-the-cache-being-stored-in-disk) on the Cheat Sheet.

<img width="720" alt="screen shot 2016-10-13 at 10 12 42 am" src="https://cloud.githubusercontent.com/assets/1027660/19330996/9ed48f74-912d-11e6-883c-1f5f61d461a6.png">

This should be

[code]

[2016-10-13 01:38] onevcat commented on #477
It should not happen unless you are trying to load an image with huge size (and I/O matters most of the time in such case.)

[2016-10-13 01:38] onevcat commented on #479
Oops. Thanks for pointing it out!

[2016-10-13 01:39] onevcat commented on #479
Fixed.

[2016-10-13 01:39] #479 closed

[2016-10-13 01:39] #473 closed

[2016-10-13 01:41] onevcat commented on #474
This should be compatible with earlier version of Kingfisher.

What's your current code and it could be a great help if you paste the error you encountered here too.

[2016-10-13 01:42] onevcat commented on #452
@gregorpichler Hi, any news for this?

[2016-10-13 01:42] #451 closed

[2016-10-13 01:42] #450 closed

[2016-10-13 01:43] onevcat commented on #447
@hifall Hi, any progress for this?

[2016-10-13 01:43] #439 closed

[2016-10-13 01:44] onevcat commented on #438
@Sunitadaffodil Hi, any progress on it? Does it still gets rejected?

[2016-10-13 01:44] #423 closed

[2016-10-13 01:45] #376 closed

[2016-10-13 01:46] onevcat commented on #358
`requestModifier` was removed from Kingfisher from version 3. Instead, you may need to use a modifier to change your request. See [this](https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#modify-a-request-before-sending) for more.

[2016-10-13 01:46] #358 closed

[2016-10-13 04:15] Sunitadaffodil commented on #438
Hi, my app is now approved by Review Team. But its strange , that they rejected app previously.

[2016-10-13 04:28] onevcat commented on #438
:) So I am closing this.

It is not surprising since they are also human and could make mistake on this time to time.

[2016-10-13 04:28] #438 closed

[2016-10-13 10:00] fuboyou commented on #477
感谢回复，的确有可能是图像问题，使用的高清图，我将在较小的图片再次验证，先关闭这个issue

[2016-10-13 10:01] #477 closed

[2016-10-14 00:56] hifall commented on #447
@onevcat,

I have not been able to find time to isolate this issue in a reasonably small project. I will get back to you when I can.

[2016-10-14 02:01] hifall opened #480 "Undefined symbols linking issue."
Using Xcode 8/Swift 2.3, with Whole Module Optimization (WMO) on, I am seeing the following issue with our project with Kingfisher integrated:

    Undefined symbols for architecture i386:
      "type metadata for (extension in DemoViewer):__ObjC.UIImageView.IndicatorType", referenced from:
          DemoViewer.ImgCell.(retryLoadImage (__ObjC.UIImageView?, url : __ObjC.NSURL, defaultImage : __ObjC

[2016-10-14 02:25] onevcat commented on #480
Maybe choose Kingfisher 2.5.1 could be a workaround (if you are not using the new indicator type) for now. Another possible solution is extract `IndicatorType` from `UIImageView`, I have to consider this twice since it would introduce a public API change and breaks semantic version rule.

[2016-10-14 02:38] onevcat commented on #480
@hifall It seems that it will not break current API if we extract `IndicatorType` out. I pushed a commit to `swift2.3` branch and would you please to give it a try and see whether it could solve your issue? If so, I will give it a tag and release an update soon.

[2016-10-14 03:16] hifall commented on #480
@onevcat,

Thanks so much for such a quick turnaround! I have tested the new changes, and it seems that the issue is gone now.

[2016-10-14 03:18] onevcat commented on #480
Great, I will tag and release it now.

[2016-10-14 03:43] onevcat commented on #480
Solved in version 2.6.1.

[2016-10-14 03:43] #480 closed

[2016-10-14 10:25] NSLogxiaoyu3 opened #481 "swift3 imageView一片空白"
使用kf.setImage(with:url, placeholder:,...) ，completeHandler中image不为nil，error=nil，用Xcode自带UI查看器查看，发现image也是有的，但是没有显示出来。
imageView为52x52，网络图片240x240
请问我应该如何调试它？

[2016-10-14 13:37] gregorpichler commented on #452
@onevcat Unfortunately I'm not having any success on this. I've replaced my self signed certificate with a SSL certificate from a trusted CA and now I can access the image resource with Postman.

However Kingfisher still returns an unauthorized error code. I'm using the code below and if I'm using the `accessToken` in Postman everything works fine (so it can't be a token issue).

[code]

[2016-10-14 13:55] gregorpichler commented on #452
UPDATE

I've now replaced `requestModifier` by the following code and now it works.

let configuration = URLSessionConfiguration.default
configuration.httpAdditionalHeaders = [
     "Authorization" : "Bearer \(user.userData.tokenAuthentication!.accessToken!)"
]

let imgManager = ImageDownloader.default
imgManager.sessionConfiguration = configuration

[2016-10-14 15:36] onevcat commented on #452
So it means the issue comes from the "Accept" field in the header? Your server does not expect an accept field but you were sending one?

Would you mind to confirm it so we could decide whether we need to dig it deeper to see where the issue lives indeed.

Thanks! :)

[2016-10-14 15:41] onevcat commented on #481
Does it relate to this iOS 10 issue? https://github.com/onevcat/Kingfisher/issues/421

If you are setting round corner or any other layer property, you may need to call layoutSubviews. You can find more information in [this page](http://stackoverflow.com/a/39380129/340508)

[2016-10-14 15:50] gregorpichler commented on #452
Oh my god, I think I've found the issue (not sure if it would also solve the initial issue with a self signed certificate), the accessToken I've set as value was interpreted as `Optional("...")` by Swift so I had to force unwrap it. Now it's working fine :)

Many thanks for your patience and keep up the good work

[2016-10-14 15:51] #452 closed

[2016-10-14 17:38] profesori opened #482 "Invalid redeclaration of 'ImageView'"
I have two build errors from KingFisher

- Invalid redeclaration of 'ImageView' form Kingfisher.swift file and
- Method does not override any method from its superclass from AnimatedImageView

No animated imageView though in code

Swift 3 iOS 10

[2016-10-14 17:45] profesori commented on #482
Re installing Kingfisher solves the problem

[2016-10-14 17:49] profesori commented on #481
Re install Kingfisher (pod install) solves the issue

[2016-10-16 19:08] NSLogxiaoyu3 commented on #481
I add "imageview.layoutIfNeeded()" and fixed

[2016-10-16 19:08] #481 closed

[2016-10-17 19:59] pentarex opened #483 "ImageView size"
Hi,
I am using your library since not long ago, but I have noticed something strange. We have implemented our own processor which determents  the correct aspect fit to the image, resizing it and returning it.
[code]
We are using it the following way
[code]
The problem that we have is the following. The UIImageView (or in our case is imageImageView) is bigger than expected... to be precise - UIScre

[2016-10-18 01:05] onevcat commented on #483
Kingfisher should have nothing to do with the image view size. I noticed that you are trying to scale your image to a size of `CGSize(width: UIScreen.main.bounds.width, height: UIScreen.main.bounds.height)`, so does it mean that your processed image is full screen? If so, AND if your image view does not have a size constraint (which means it will use the `intrinsicContentSize` and resize itself),

[2016-10-18 01:06] onevcat commented on #482
Thanks for the feedback.

[2016-10-18 01:06] #482 closed

[2016-10-18 11:21] helloniklas opened #484 "Module compiled with Swift 3.0 can not be used in Swift 3.0.1"
What's the easiest way to use Kingfisher with Xcode8 beta that runs Swift 3.0.1 Do I need to rebuild it?

I find my self needing to frequently switch between Xcode8 and Xcode8 beta, as I have different devices and not all of them running 10.1 beta.

Is there an easy way around this without doing the Xcode select and rebuild?

[2016-10-18 13:07] onevcat commented on #484
Maybe you could use CocoaPods to integrate Kingfisher, so you can have it built with Xcode instead of the the command line tool.

[2016-10-18 19:33] vzsg opened #485 "CIImageProcessor not applied to downloaded image"
I'm trying to follow the "Create a processor from CIFilter" example from the cheat sheet with Kingfisher 3.1.3, but the filter is not getting called.

My processor class is [here](https://gist.github.com/vzsg/964a307575fc2c534e90bd294b93ed8d). And here's how I try to use it:

[code]

The filter function is never called, the image appears in its original form. The `.forceRefresh` option has no effe

[2016-10-18 20:53] pentarex commented on #483
you can close the issue, for no reason the problem was in
[code]
Ive used your function kf.resize and now everything is fine :)

[2016-10-19 01:01] onevcat commented on #485
@vzsg You are right. It is a bug and I will give it a fix soon. Wait for 10 mins!

[2016-10-19 01:13] #483 closed

[2016-10-19 02:05] onevcat commented on #485
Fixed in 3.1.4.

[2016-10-19 02:05] #485 closed

[2016-10-19 15:06] eclipsegst commented on #143
In case anyone else has this problem, there's a default image with name "imageView" in UITableViewCell. You can try to use a different name for your custom UIImageView. Make sure to set your customImageView.layer.masksToBounds = true.

[2016-10-20 10:24] macbellingrath commented on #465
I'd love to help out with this. Our Android team is using Glide, which implements a similar centerCrop transform.

Might help to take a look at:
 https://github.com/bumptech/glide/blob/6ddb5f0598b1a5a5a51647fb968e998d6cabbd3d/library/src/main/java/com/bumptech/glide/load/resource/bitmap/CenterCrop.java

[2016-10-23 12:15] faisalrasbihan opened #487 "'one-time completion handler' for async image display inside a tableviewcell"
I need to display an image inside a tableViewCell asynchronously, so I need to call self.tableView.reloadData() when the download is complete (because the image height is varying and the tableView height needs to be updated) and I did it inside the completion handler in kf.setimage but this create problem because the completion handler is called continuously inside tableView:cellForRowAtIndexPath:

[2016-10-23 18:58] kiwo12345 opened #488 "Only download and dont cache"
Is it possible to only set a image from URL and dont cache?

[2016-10-24 01:50] onevcat commented on #487
What's the problem by just using the image view extension described [here](https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#simply-set-an-image-from-url-to-an-image-view)? There should be no need to reload your table view.

[2016-10-24 01:50] onevcat commented on #488
Although it is not a right place to ask such question, you could use `ImageDownloader` for it.

[2016-10-24 01:50] #488 closed

[2016-10-24 04:21] faisalrasbihan commented on #487
I used that, but my project have a dynamic cell height so the cell height is dependent on the size of the image. And since I load the image asynchronously I need to call tableView.reloadData() in the completion handler. I eventually get around this issue by creating an array of bool to check if I should reload the table view for a specific cell. What would be nice is if there is an option to call

[2016-10-24 04:34] onevcat commented on #487
No, it is not the correct logic to call the handler only once when you set it multiple times actually.

It's more likely that you are choosing a not-so-good strategy by reloading the whole table view and set the image again. I'll choose just relayout/update the cell without reseting the cell image view by Kingfisher. Maybe it's also worth to reconsider your table view setting flow and choose a bet

[2016-10-24 04:34] #487 closed

[2016-10-24 20:03] kiwo12345 opened #489 "Can I manually change cache directory?"
I wonder if I manually can change cache directory(URLSession) for Kingfisher?

I use another lib for a image carousel that already has cache built in and I would like to make the lib share the same cache directory as Kingfisher

[2016-10-25 01:01] onevcat commented on #489
No, it is a black box to framework users and not intended to be changed.

[2016-10-25 01:01] #489 closed

[2016-10-25 02:35] Yamilquery commented on #329
Please help me. I have the same issue, but I'm using Nativescript. I get the following error:

Couldn't find platform family in Info.plist CFBundleSupportedPlatforms or Mach-O LC_VERSION_MIN for phantomjs

[2016-10-25 22:45] Dbigshooter opened #490 "Determine cached content?"
Hi there,

I'm using this library for the first time, and it seems pretty awesome. However I tried to print out the cacheType of my images, and I guess I'm missing a way to say if an image is cached or not? My app still download all the JSON and such, and just show the imagine from the disk. So what I essentially want, is to check my disk before even making the call to the webservice, is that poss

[2016-10-26 02:07] onevcat commented on #490
What do you mean on the JSON file?

And you could use [`isImageCache`](https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#use-imagecache-to-store-or-get-images) to determine whether an image at that url cached or not.

[2016-10-31 06:01] yn288163 commented on #484
carthage update --no-use-binaries

[2016-10-31 09:31] Hanwp opened #491 "Header 'Kingfisher-Swift.h' not found"
喵神你好，
我刚才用cocoapods更新了你的框架。Installing Kingfisher 3.1.4 (was 3.1.3)
然后又在Xcode中update到了swift3.0
现在报错，该怎么解决，谢谢！
<img width="818" alt="kingfish-bug" src="https://cloud.githubusercontent.com/assets/10218623/19849729/ba61a568-9f8f-11e6-8a61-274bc363659b.png">

[2016-10-31 10:30] onevcat commented on #491
尝试 Clean 一下之类的吧…我并没有改什么特别大的东西

Wei Wang (@onevcat)

2016年10月31日 +0900 18:31 Hanwei <notifications@github.com>，写道：

[2016-10-31 19:52] gkye opened #492 "Display gif as non animated image by default"
Is it possible to opt out of displaying animated images by default? (its causing some memory issues). I only want to display the animated image using `AnimatedImageView` when the user chooses to do so.

[2016-11-01 01:22] onevcat commented on #492
Currently no. Maybe we could implement an option to load first several frames for a GIF in a later version.

[2016-11-01 01:22] #491 closed

[2016-11-01 01:53] Hanwp commented on #491
我重新clean还是那个错误，我用的xcode8.1

[2016-11-01 02:12] onevcat commented on #491
升级 cocoapods，删 derived data 文件夹，删 Pods 文件夹重新 pod install 等等等等..
如果你新建一个项目导入没问题的话基本就是你的本地环境的问题了。pod lint 和验证都是 pass 的，所以我这边没什么可做的。

[2016-11-01 06:36] rajchithathur opened #493 "Application Crash in Xcode 8.1 swift 3"
After update Xcode 8.0 to 8.1  crash my app

just use
  let image = UIImage(named: "default_image")
  let url = URL(string: (thumbnailURL)!)!
  self.imageView.kf.setImage(with: url, placeholder: image)

screenshot
![screen shot 2016-11-01 at 12 05 01 pm](https://cloud.githubusercontent.com/assets/9378745/19881417/84851ffa-a02b-11e6-8d67-bd6416791042.png)

Thanks,
Rajesh Rajendiran

[2016-11-01 06:40] onevcat commented on #493
You may need to rebuild Kingfisher once you upgrade your Xcode version, since Xcode 8.1 shipped with a new version of Swift (3.0.1), and the ABI of Swift is not back compatible yet.

[2016-11-01 06:57] rajchithathur commented on #493
@onevcat tried not working any other ?

[2016-11-01 07:05] onevcat commented on #493
You could also try to remove your old version app from your phone and reinstall it.

[2016-11-01 07:15] rajchithathur commented on #493
@onevcat  not working

[2016-11-01 07:44] onevcat commented on #493
So could you build a sample project to reproduce it? I tried the latest version with cocoapods installing and it works fine for me.

[2016-11-01 09:09] danieldelouya opened #494 "Avoid setting the imageView.image to nil before it has finished downloading image"
I have a feed of images (sort of like snapchat), so everytime I tap on the imageview i get the next prefetched image.
When using .kf.setImage it seems like for a split second it sets the imageView.image to nil before setting the cached/downloaded image in the imageview, which causes a flicker where it briefly shows the imageViews background color.
Is there a way to avoid this? Thought about settin

[2016-11-01 09:16] onevcat commented on #494
I'll suggest to just use the current image of image view as the placeholder as you mentioned. It should be a fairly good and reasonable solution, at least to me.

What's your concern about that?

[2016-11-01 09:18] rajchithathur commented on #493
@onevcat Ya working in new sample project, How can i do work with current project any suggestions ?

[2016-11-01 09:19] danieldelouya commented on #494
I guess it can work yeah, but it would feel 'safer' if there was a feature when you could wait setting the image in the imageview until the image has downloaded. I know that's possible with AlamofireImage, but I just prefer Kingfisher way more 👍

[2016-11-01 09:22] danieldelouya commented on #494
And thank you for the quick response! Really appreciate it.

[2016-11-01 09:23] onevcat commented on #494
Um, I agree with you that it will be clearer to have an option to describe it explicitly, instead of just using current image. I will find some time to implement this.

Thanks.

[2016-11-02 10:27] chenawu2 opened #495 "非常欣赏你的努力"
@onevcat
I feel like you probably don't get this enough, but on the behalf of everyone who relies on your framework, I just want to say thank you.

[2016-11-02 11:55] Skyna opened #496 "Module compiled with Swift 3.0.1"
Greetings,

I use CocoaPods for the integration of this library. However, sinds recently when i updated my Xcode to 8.1. I am getting this issue from within my project:

"Module compiled with Swift 3.0 cannot be imported in Swift 3.0.1"

So my question is. When will there be a release of this library which is compiled in Swift 3.0.1?

Thanks!

[2016-11-02 15:51] onevcat commented on #496
Kingfisher is distributed with source code, and there is no API change needed for Swift 3.0.1. So it is you who should compile the framework in the newer version of Swift.

I believe you could try to do a full clean for your project as well as Pods to solve it.

[2016-11-03 08:13] mikkelam opened #497 "Always show indicator option?"
Is there an option to always show the indicator for imageviews? I'm too lazy to activate it every time.
I was not able to find any information, I'm sorry if this has already been adressed.

[2016-11-03 12:17] tahirSmartboy opened #498 "Is there an option to load progressive jpeg ?"
![1](https://cloud.githubusercontent.com/assets/10927636/19965514/5753f524-a1ed-11e6-9846-92861285b230.gif)

Left: normal loading
Right: Progressive loading

[2016-11-03 12:59] onevcat commented on #498
No, not yet. And there is no such plan for it currently.

[2016-11-03 12:59] #498 closed

[2016-11-03 13:00] onevcat commented on #495
Thanks for your kind word and it's my honor.

[2016-11-03 13:00] #495 closed

[2016-11-03 13:00] onevcat commented on #496
As well as to try the latest version of cocoa pods

[2016-11-04 01:01] onevcat commented on #497
What do you mean by "always show"? Once you set the `indicatorType`, the indicator should be automatically shown on downloading and hidden after that.

[2016-11-04 01:07] onevcat commented on #493
Have no idea what happened.

[2016-11-04 08:07] mikkelam commented on #497
I mean an option to have the indicator always be present without having to set it for each imageview

[2016-11-07 02:22] izouxv opened #502 "is support carthage?"

[2016-11-07 02:23] onevcat commented on #502
Yes.

[2016-11-07 02:23] #502 closed

[2016-11-07 02:35] onevcat commented on #463
It turned out to be an optional interpolation. Since it was fully discussed in #452, I am closing it now.

[2016-11-07 02:35] #463 closed

[2016-11-07 05:46] onevcat commented on #494
Added in 3.2.0

[2016-11-07 05:46] #494 closed

[2016-11-07 06:06] chenawu2 opened #504 "Resize image is always blurry"
Let's say I have a `3024 × 4032` image, and I want to resize it to `77x77`

I use this framework like so:
`let processor = ResizingImageProcessor(targetSize: CGSize(width: 77, height: 77)) >> RoundCornerImageProcessor(cornerRadius: 77/2)`

The result is a very blurry image. How do I maintain the same aspect ratio?

Here is the image I am using:
http://imgur.com/a/lKtI9

Thanks.

[2016-11-07 06:09] onevcat commented on #504
The unit of image processor is pixel instead of point. If you are trying to set the image to a 77x77 point retina display (I guess you should need so), it means you need to resize it to 2x at least, which means 154x154.

And if you are also targeting an iPhone x Plus 3x display, you need 231x231.

[2016-11-07 06:21] chenawu2 commented on #504
Hey Thanks.

Last question, if I reuse the same processor with the same arguments, and I call it on the same image url, is Kingfisher smart enough to know that a `77x77` resize of this image already has been done before?

[2016-11-07 06:22] onevcat commented on #504
Sure.

[2016-11-07 10:45] ManueGE opened #505 "Expose `KingfisherOptionsInfoItem` extension"
Thanks for this project.

I see there are some helper methods for `KingfisherOptionsInfoItem` in one extension:

[code]

It provides a lot of useful `var` to get info from an Array of `KingfisherOptionsInfoItem`, for instance get the `scaleFactor` or the `transition`.

These methods are really helpful when building custom processors, so exposing this extension would be awesome.

[2016-11-08 00:53] onevcat commented on #505
Not a bad idea. Would you mind to send a p-r for this?

[2016-11-08 00:53] #504 closed

[2016-11-08 01:31] ManueGE commented on #505
Sure! I'll do it soon

[2016-11-08 21:17] ManueGE commented on #505
I just created the pull request #506 . Any comments are welcome.

[2016-11-09 01:53] heeween commented on #489
manually change class ImageCache function "defaultDiskCachePathClosure(path:, cacheName:)" maybe solve your problem @kiwo12345

[2016-11-09 13:59] Luca9307 opened #507 "AnimatedImageView xib outlets"
Hello,
I connected an AnimatedImageView as outlet in xib, by linking it to a UIImageView because storyboard not find AnimatedImageView class. So I do not know why the gif is shown correctly but I can not access the attributes of AnimatedImageView, because it cause a crash saying that a UIImageView does not have this attribute. Is there any other option to solve this problem?
Thanks so much.

`@IBO

[2016-11-09 14:31] yybutcher opened #508 "关于 RetrieveImageTask.empty 的访问权限"
Hi：

我在写 extension 的时候发现 `RetrieveImageTask.empty` 并没有使用 `public` 修饰，还是 `internal`，在外部模块不能使用，这个是出于什么考虑呢？

如果没有其他原因可否改成 `public` 呢？

[2016-11-11 01:20] onevcat commented on #507
Hi,

You need to change the class of it to `AnimatedImageView` in your storyboard too.

[2016-11-11 01:21] onevcat commented on #508
It should be no harm to be `public`. I'll do it later.

[2016-11-11 01:40] #505 closed

[2016-11-11 09:02] Luca9307 commented on #507
Hello,
I've done this but Xcode give me this error:
Unknown class AnimatedImageView in Interface Builder file.

Thanks you so much

[2016-11-11 10:38] #508 closed

[2016-11-13 14:16] wieseljonas opened #510 "Placeholder image not working with swift 3"
Even when setting url to nil it doesn't load why?

    cellImage.kf.setImage(with: nil,
                                      placeholder: #imageLiteral(resourceName: "no photo"),
                                      options: [.transition(.fade(1))],
                                      progressBlock: nil,
                                      completionHandler: nil)

[2016-11-14 00:53] onevcat commented on #510
It will not work only when set url to `nil` (there should be nothing changed when using an non-nil url)
This might be caused by an internal change of #503.

I will give it a fix to load placeholder for `nil` resource later.

[2016-11-14 02:12] onevcat commented on #507
You may need to specify the module to Kingfisher, if you are using it as a dynamic framework.

![](https://gyazo.com/9a2df86693853ae360ca87059d89d7f3)

Do not forget to link to the framework. If this is not shown in your IB, it might be possible that you are not integrating it correctly.

[2016-11-14 02:38] onevcat commented on #510
Should be fixed in 3.2.1

[2016-11-14 02:38] #510 closed

[2016-11-14 06:15] LvJianfeng commented on #361
http://img03.sogoucdn.com/app/a/100520091/20161111122624 这种是不支持的么？

[2016-11-14 06:20] LvJianfeng opened #512 "这种是不支持的么？"
http://img03.sogoucdn.com/app/a/100520091/20161111122624

[2016-11-14 06:25] LvJianfeng commented on #512
不好意思，我这引用错了。。。

[2016-11-14 06:25] #512 closed

[2016-11-15 04:34] chungkol opened #513 "duplicate photos when i use Kingfisher with TableView"
Hi,
I have 2 bug :
+ duplicate photos when i use Kingfisher with TableView
+ when i scroll image there also change until load data of table success

[
![image](https://cloud.githubusercontent.com/assets/14126029/20293379/6cda4b8e-ab28-11e6-9e6d-ae83d098b979.png)
](url)

[2016-11-16 09:01] Drusy commented on #493
Hello,

My Cartfile.resolved looks like `github "onevcat/Kingfisher" "3.2.0"` and I am experimenting the same issue. The crash happens at random for me if I start a large number of parallel connections.

Will post the stack soon.

[2016-11-16 09:22] noear opened #514 "希望把 KingfisherManager 的init 改为 public"
希望把 KingfisherManager 的init 改为 public

如此可以方便一些高级定制；
可以将不同业务的图片，分类存储在不同的cache里。

[2016-11-16 09:23] noear opened #515 "请问：如何为某一次的图片加载增加 http header ？"
同题。

[2016-11-16 09:35] noear commented on #515
我急需要这个功能；希望帮助解决。

[2016-11-16 09:39] onevcat commented on #515
You could use the [`requestModifier`](https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#modify-a-request-before-sending) for this.

[2016-11-16 09:39] #515 closed

[2016-11-16 09:41] onevcat commented on #514
No, this is intended and the `KingfisherManager` would not expose its initializer. If you need to use another cache instead of the default one, pass a `.targetCache` option with your customized one in the image loading APIs.

[2016-11-16 09:41] #514 closed

[2016-11-16 13:31] monica18p commented on #513
I am also facing similar issue.
I have a view where the images get loaded correctly.
Then when i go to another view which is not having any image(image url is not having any image) then, the previous' view's images are shown in this empty image view instead of placeholder image.

**This happens when i use [.forceRefresh] option. with no options this isn't happening.**

I think its something relate

[2016-11-16 15:09] onevcat commented on #513
@chungkol I can not fully understand what's your situation. But in your code you were trying to set `.cacheMemoryOnly` when you using the downloader. It will take no effect since it is just related to the cache instead of downloader.

@monica18p Can you build a demo project for it? I am glad to dig into it.

[2016-11-16 15:09] onevcat commented on #513
@chungkol I can not fully understand what's your situation. But in your code you were trying to set `.cacheMemoryOnly` when you using the downloader. It will take no effect since it is just related to the cache instead of downloader.

@monica18p Can you build a demo project for it? I am glad to dig into it.

[2016-11-16 20:57] tranvutuan opened #516 "does kingfisher support image encryption ?"
I am starting switching to Kingfisher and I have a question regarding to the security issue. Can cached images be encrypted ?

[2016-11-17 00:01] onevcat commented on #516
You could do that by implementing your own CacheSerializer. Please read the cheat sheet in wiki for more on it.

[2016-11-17 01:36] noear commented on #514
非常感谢！

[2016-11-17 01:36] noear commented on #515
非常感谢！

[2016-11-17 01:37] #496 closed

[2016-11-17 01:38] #474 closed

[2016-11-17 01:38] #476 closed

[2016-11-17 01:38] #490 closed

[2016-11-17 15:41] kwstasna opened #518 "3.0v migration question"
Hello.

in v2 i hade this kingfisher manager code

[code]

How can i migrate it to v3?

[2016-11-17 21:32] tranvutuan commented on #516
From the cheat sheet in wiki, I created my own CacheSerializer named `NewSerializer` like below
[code]
For the first method, I'm currently using RNCryptor for encryption and decryption.
From the sample code, I am doing:
[code]
I am facing an issue :
[code]

Any thoughts about this.

[2016-11-18 02:38] joezhang opened #519 "Unable to find a specification for `Kingfisher (~> 3.0)`"
$pod --version
1.1.1
$pod install
Analyzing dependencies
[!] Unable to find a specification for `Kingfisher (~> 3.0)`

[2016-11-18 05:24] onevcat commented on #519
You may need to do a `pod repo update`, or even reset your pod environment.

[2016-11-18 05:24] #519 closed

[2016-11-18 05:25] onevcat commented on #518
Please read the [migration guide](https://github.com/onevcat/Kingfisher/wiki/Kingfisher-3.0-Migration-Guide).

[2016-11-18 05:25] #518 closed

[2016-11-20 15:12] Sol88 opened #520 "Memory leaks"
Hi! And thank you for your great library!

I have profiled your demo project for memory leaks and found out more than 90 leaks in demo project. Maybe something has changed in recent xcode updates (I am using xcode 8.1)?

<img width="1266" alt="2016-11-20 18 02 36" src="https://cloud.githubusercontent.com/assets/5029909/20463820/cd6c92b8-af4c-11e6-8ebc-564eaab3b04e.png">

[Kingfisher.trace.zip](htt

[2016-11-21 03:14] onevcat commented on #520
Hi,

Thanks for reporting this. I can verify the same in both iPhone simulators and devices with iOS 10. But if I switches to iOS 9, the leak checks are all green. So I believe it might be related to some iOS internal change.

It seems that most leaks are from creating a URL session and its configuration. All of them are UIKit code and not accessible in Kingfisher. I will take a deeper look to see

[2016-11-21 03:50] onevcat commented on #520
Not sure whether it is related to this issue in Alamofire. Just for ref. https://github.com/Alamofire/Alamofire/issues/1717

[2016-11-21 06:42] Sol88 commented on #520
Thank you very much! I've also checked on iOS 9 and everything is ok.

[2016-11-21 07:12] onevcat commented on #520
After some investigation, I discovered some interesting fast.

1. The leak will happen when you access the `ImageDownloader.default`, which will create one for you if there is no one. Leaks always happen just in the `ImageDownloader.init`, even you never do a network request. This code will simply cause it: `let _ = ImageDownloader.default`

2. The `var fetchLoads = [URL: ImageFetchLoad]()` will c

[2016-11-21 08:26] onevcat commented on #516
Just took a look at the RNCryptor and tried your code. It works perfect for me and all images are encrypted and decrypted without problem. None of them could be previewed:

![snip20161121_7](https://cloud.githubusercontent.com/assets/1019875/20475440/4288b74e-b00f-11e6-9232-084adcba1aa2.png)

Are these images you could preview downloaded before you apply the encrypting cache serializer? You could

[2016-11-21 14:24] tranvutuan commented on #516
@onevcat: I figured it out. The reason I am able to preview some of them is because prefetching image process which is currently using default serializer. In order to encrypt, I have to pass my own `serializer` to `ImagePrefetcher` like following
`ImagePrefetcher(urls: urls, options: [.cacheSerializer(serializer)]).start()`

and then everything works like expectation.

[2016-11-21 18:17] Sol88 commented on #520
Oh... I see. Thank you very much for such detail investigation! And one more time thanks for your lib!!!

[2016-11-21 22:48] #516 closed

[2016-11-22 04:18] zyxlcr opened #522 "强烈要求把单元测试的图片删除"
由于天朝众所周知的原因,20多M的pod 还是亚历山大的

[2016-11-22 05:15] onevcat commented on #522
Thanks for the suggestion. Yes, it might be a problem when using a slow network connection.

I guess at lease currently I will not change this, unless there is a good way to split the test target from framework. It is important to test the images and processors and it seems the current model works well for most cases (for both human and CI).

Furthermore, usually you just need to download them onc

[2016-11-22 05:16] onevcat commented on #520
There is a workaround to drop `NSObject` superclass for `ImageDownloader` to make the Instrument happy. It would be merged later, since I think it is reasonable to drop OC support now.

[2016-11-22 05:16] #520 closed

[2016-11-22 05:28] wieseljonas commented on #114
Hi @onevcat I seem to be having this issue again can't really trace back to which version since I updated the library recently in my project

[2016-11-22 05:47] onevcat commented on #114
@wieseljonas Tried to reload data but didn't see a flickering in the latest demo project. What's your implementation now?

[2016-11-22 05:52] wieseljonas commented on #114
Ignore this it was simple the fact that the cell reloading animation was set to fade, setting it to none fixed it

    tableView?.reloadRows(at: [indexPath!], with: UITableViewRowAnimation.none)

[2016-11-22 06:23] onevcat commented on #114
：）

[2016-11-22 06:23] #114 closed

[2016-11-22 13:33] Luca9307 commented on #507
Works!
Thank you so much

[2016-11-22 13:33] #507 closed

[2016-11-23 03:46] hi-guy opened #523 "`downloadCanelledBeforeStarting` spell issue？"
[code]

maybe`downloadCancelledBeforeStarting `？

[2016-11-23 05:45] zyxlcr commented on #522
可以用git把图片的文件夹中的内容忽略掉,这样就没有影响了

[2016-11-23 05:55] onevcat commented on #522
这样 CI 就跑不过了，而且要从 repo 移调需要改动前面的 commit。

[2016-11-23 05:55] #522 closed

[2016-11-23 05:56] onevcat commented on #523
Sure! It is a typo. Will fix it.

[2016-11-23 06:06] hi-guy commented on #523
🐱大，还有这个，是否？

[2016-11-23 06:11] hi-guy commented on #523
[code]
`processoor`  喵大 😂.

[2016-11-23 14:21] Drusy commented on #493
Can this help ?

[code]

[2016-11-23 14:44] onevcat commented on #493
Nope, no idea what happened. It seems to be a bad access which is buried deeply in the CFNetwork. I guess we have nothing to help with it in Kingfisher now. :(

[2016-11-24 00:46] mihaibulic opened #525 "KingfisherManager.shared.cache.isImageCached EXC_BAD_ACCESS"
`if !KingfisherManager.shared.cache.isImageCached(forKey: url.absoluteString).cached {
    // EXC_BAD_ACCESS when calling isImageCached
}`

That above line worked until today when I updated my Kingfisher CocoaPod to 3.2.1.  I'm not sure what version I was on before- whatever was in CocoaPods on 10/26.

[2016-11-24 00:53] mihaibulic commented on #525
I reverted to 3.1.4 and everything works as expected.

[2016-11-24 02:06] onevcat commented on #525
Since there is no change between these two versions here, so I believe it is a Swift issue. Maybe you could fix it by do a full clean of the project and/or derived data folder. Or try to remove the old one with Kingfisher 3.1.4 and reinstall the app to your simulator or device.

[2016-11-24 02:11] mihaibulic commented on #525
I did do a clean and I uninstalled the app.

[2016-11-24 02:26] onevcat commented on #525
@mihaibulic Does it happen for all urls? Or some specified ones. And may I know some more information for it, is there any stacks or other messages besides of EXC_BAD_ACCESS?

[2016-11-25 14:10] 0xpablo commented on #364
You should use `url.path`, not `url.absoulteString`.

[2016-11-25 16:28] #364 closed

[2016-11-27 00:25] jyounus opened #526 "Increase the amount of time the progressBlock is called"
Hey there,

Is there a way to increase the amount of time the progressBlock is called for the setImage function? Current I only ever get the following 5 "notifications", every time I try to download my test image. It's always at the same percentages:

[code]

Also, am I correct in assuming that the progressBlock will ALWAYS be called at least once when the progress is 100.0%?

Thanks

[2016-11-27 09:56] faisalrasbihan opened #527 "failed image parameter in kf.setImage: method"
Could you add a "failed image" parameter in kf.setImage: so that if kingfisher cannot retrieve image from URL or there is an error, the image view can still display an image.

[2016-11-27 13:51] onevcat commented on #527
It's no need to create such an image if the request is successful (which would be a normal case), so it seems to be a waste of performance and adding complication to the API. I believe you should just set the "failed image" in the completion handler instead. It would not be hard too if you want create a wrapper for it yourself, if feel like to.

[2016-11-27 13:51] #527 closed

[2016-11-29 09:03] jaybowong opened #528 "Crash in ImageDownloader at line 405, fetchLoad.responseData.append(data) when the disk is full"
![screen shot 2016-11-29 at 5 00 01 pm](https://cloud.githubusercontent.com/assets/1948533/20703090/5fdf1436-b655-11e6-8a1b-5899d794c085.png)

Console output before crash:
[code]

----
(lldb) bt
[code]

----
And finally
[code]

----
My code
[code]

[2016-11-29 10:32] jaybowong commented on #528
One more crash happened.

![screen shot 2016-11-29 at 6 30 39 pm](https://cloud.githubusercontent.com/assets/1948533/20706380/04add130-b662-11e6-944f-342eb0c5a45e.png)

Console output:
[code]
----

(lldb) bt
[code]

[2016-11-30 03:01] onevcat commented on #528
Thanks for reporting this. But it seems that these crashes happen deeply in the Foundation framework and I think there is little we could do to help it. :(

[2016-12-01 05:52] onevcat commented on #526
Hi,

The progress block will be called every time the url session task received a data trunk, so there is no good way to increase the amount in a good way.

And if your server is returning the correct expected size to you, the progress block should be called when it finishes. But a better way to handle the finish things should be the completion handler callback instead.

[2016-12-01 05:52] onevcat commented on #523
Fixed.

[2016-12-01 05:52] #523 closed

[2016-12-01 05:53] #484 closed

[2016-12-01 05:53] #526 closed

[2016-12-01 05:53] #464 closed

[2016-12-01 05:54] #393 closed

[2016-12-01 10:22] ixialuo opened #530 "progressBlock is stopped"
self.kf.setImage(with: url, placeholder: placeholder, options: nil, progressBlock: { (receivedSize, totalSize) in

            let progress : CGFloat = CGFloat(receivedSize) / CGFloat(totalSize)
            self.progressIndicatorView.progress = progress

        }) { (image, error, cacheType, imageURL) in
            self.image = image
            self.progressIndicatorView.reveal()
        }

pro

[2016-12-02 14:01] zhnnnnn opened #531 "内存暴增问题"
喵神，我现在现在项目中是一个collectionview加载一些图片。用到了kingfisher的 setImage 方法。但是在滑动的时候内存暴增。用instrument看了下有50%指向kingfisher。然后我用了sdwebimage 替换了setimage方法，发现内存问题就消失了。不知是不是我使用方法的问题，最近才开始写swift项目。
xcode8.0 swift3.0 iOS10.0 kingfisher是3.1.1
![image](https://cloud.githubusercontent.com/assets/11436094/20836433/28933eda-b8da-11e6-9eee-c86f330acc3e.png)

[2016-12-02 14:10] damien-nd opened #532 "cancelDownloadTask before setImage can make some images cancelled to never appear"
I have try #183 and #421 but it doesn't work for me.

Here is my code:

	kf.cancelDownloadTask()
	kf.setImage(with: url,
		placeholder: placeholderImage,
		options: [.transition(.fade(0.3)), .backgroundDecode])

I do it on UIImageView extension and most of the time it is working great.
But sometimes, it leave imageView with the placeholder (mainly when a lot of images and scrolling fast).
If I add

[2016-12-04 08:24] onevcat commented on #531
Kingfisher will cache all the downloaded images by default, so it is not surprising that it will take some memory even if you are not displaying the images, especially when you are displaying some large images. Generally, there is no worry about it, since Kingfisher will release these cached memory when a memory warning received.

If it is important to you, you could just set the `maxMemoryCost` p

[2016-12-04 08:25] onevcat commented on #530
I cannot understand what you mean.

[2016-12-04 08:33] onevcat commented on #532
Thanks for reporting this. I will take a deeper look on this.

Before I could conclude what happened, could you try to move the calling on `kf.cancelDownloadTask ` to the `didEndDisplayingCell` method (if you are using this in a cell of a table view or collection view) to see whether the same thing occurs?

[2016-12-04 08:40] onevcat commented on #497
Instead of making it a property for all the original `ImageView` class,I believe it would be more general and simpler to create your own subclass of `UIImageView` and set the `indicatorType` there, then use the subclass.

[2016-12-04 08:40] #497 closed

[2016-12-04 11:13] AndreMarvell opened #533 "OverlayProcessor not working with custom UIColor"
Hi guys,

It seems like OverlayImageProcessor doesnt work with custom color. This is my code

[code]

But it works pefectly when using classic UIColor like .red etc...

Do you know what i am doing wrong?

Thank you for your help

[2016-12-05 02:31] zhnnnnn commented on #531
谢喵神~

[2016-12-05 02:31] #531 closed

[2016-12-05 07:04] Syed2837 opened #534 "How to Set PROXY"
Hi, how can I set proxy for non wifi network in KingFIsher framework extension?

[2016-12-05 07:07] onevcat commented on #534
Please describe your question more specified. And it is not a good place for asking questions. If there is no such feature now in Kingfisher, it would be appreciated to post a feature request instead of asking "how can".

[2016-12-05 07:07] #534 closed

[2016-12-05 07:12] Syed2837 commented on #534
I haven't gone through the entire framework... my mistake.
Yeah, I can say its feature request (to support proxy setting).

[2016-12-05 07:19] onevcat commented on #534
If you mean the `connectionProxyDictionary` of session configuration, the configuration used in Kingfisher is already exposed. It should work if you set your proxy settings there and reassign it to `ImageDownloader`:

[code]

The session used will be recreated and updated, so you could use a session with proxy you set.

[2016-12-05 07:37] Syed2837 commented on #534
My code

[code]

Sorry I'm novice developer and I don't know exactly how to include your code. Could you please go through my code and let me know where can I put your code to set proxy.

Note: I added KingFisher through Pod.

[2016-12-05 09:12] octopepper commented on #532
I'm sorry but in `didEndDisplayingCell` I still can reproduce.
It is a tableview with 3 images. I should change it for collection view as now the design is the same.
On table view with just 1 image, it is harder to reproduce it, but sometime I face it.

Thank you for investing it.

[2016-12-05 09:12] damien-nd commented on #532
I'm sorry but in `didEndDisplayingCell` I still can reproduce.
It is a tableview with 3 images. I should change it for collection view as now the design is the same.
On table view with just 1 image, it is harder to reproduce it, but sometime I face it.

Thank you for investing it.

[2016-12-05 14:43] onevcat commented on #534
So you could just add something like

[code]

to your app did finish launching method of your app delegate to u

[2016-12-05 14:50] onevcat commented on #533
I just tried your color (which is likely a dimmed gray with a little blue), and it looks fine for me. It does work but maybe you need to decrease the `fraction` to make it more obvious.

And if what you want is a tint instead of color overlay, you could also try the `TintImageProcessor`. Or you could even implement your own filter effect very easily.

[2016-12-06 03:22] ixialuo commented on #530
when options is nil, progressBlock is don't go

[2016-12-06 04:49] Syed2837 commented on #534
Thanks a lot....

[2016-12-06 04:53] onevcat commented on #530
@ixialuo I cannot reproduce it. `progressBlock` is called when downloading an image for me, even when the options is nil.

Can you build a demo which could reproduce what you said? Thanks!

[2016-12-06 15:52] AndreMarvell commented on #533
I tried with the TintImageProcessor and it did the job.
Thank you for you help, you can close the ticket

[2016-12-06 21:26] jaimeagudo commented on #443
It still happens today

[2016-12-08 15:59] nbortolussi opened #535 "Image not being properly rotated if ImageProcessor is applied"
My image appears with the correct orientation with no processor applied. However, when a BlurProcessor is added to the image, the processor works correctly but the image is no longer rotated as it should be:

[code]

[2016-12-11 16:20] jaimeagudo opened #536 "API reference link broken loops everywhere"
http://cocoadocs.org/docsets/Kingfisher/3.2.2/

[2016-12-12 01:30] onevcat commented on #536
It seems to be an issue in CocoaDocs or jazzy. I commented it in this issue https://github.com/CocoaPods/cocoadocs.org/issues/493 and I guess they could solve it.

Before that, you can install [jazzy](https://github.com/realm/jazzy) and run `jazzy` in Kingfisher's folder to generate a local copy of reference yourself, if you need it.

[2016-12-12 01:30] #536 closed

[2016-12-12 11:59] Syed2837 opened #537 "How to add username and password in kingfisher manager?"
I successfully added proxy (with username & password) to `UIWebView` related `NSURLRequest` by custom `Protocol`. How can I extend this below additions in KingFisher?

[code]

[2016-12-12 13:02] onevcat commented on #537
https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#authentication-with-nsurlcredential

[2016-12-12 13:02] #537 closed

[2016-12-13 02:18] #533 closed

[2016-12-13 02:19] #530 closed

[2016-12-13 02:19] #447 closed

[2016-12-13 02:21] onevcat commented on #373
After some reconsideration, it's better to leave it to users of framework.

[2016-12-13 02:21] #373 closed

[2016-12-13 02:22] onevcat commented on #350
It's now isolated and should work properly.

[2016-12-13 02:22] #350 closed

[2016-12-13 02:24] onevcat commented on #372
So what you need is the cache feature. You could use `ImageCache` class standalone for this, instead of setting a resource.

[2016-12-13 02:24] #372 closed

[2016-12-13 02:28] onevcat commented on #354
It's not an issue so I am closing this.

And by using barrier, you could ensure the safety of multiple thread instead of just one. The resource will not be shared until the barrier queue exits.

[2016-12-13 02:28] #354 closed

[2016-12-13 02:47] jaybowong opened #538 "Crash in ImageDownloader, error: can't allocate region"
Environment:
Kingfisher 3.2.2.
iPad Air, iOS 8.1.3 (haven't tried any other devices yet)
Available space: 1.9 GB

I have a UICollectionView that shows many thumbnail images, and a download button that uses ImagePrefetcher to download full size images. This crash happens when I start download and then scroll the UICollectionView quickly. It's OK when I simply download the images or scroll the UICol

[2016-12-13 02:54] onevcat commented on #538
Thanks for reporting this. I will dig it deeper. Does it always happen when you scroll fast while the prefetcher working? Or there is a chance?

[2016-12-13 03:31] jaybowong commented on #538
Not always but can happen easily.

Maybe the images are too large? The file size is 600KB to 1MB, and the pixel is around 1360x2480. There're 466 image in total.

[2016-12-13 03:33] jaybowong commented on #538
One more crash happened while downloading these images with ImagePrefetcher.
It's _virtual memory exhausted_ error.

![virtual-memory-exhausted](https://cloud.githubusercontent.com/assets/1948533/21126522/c5f50974-c127-11e6-9b15-da3872ca226d.jpg)

[2016-12-13 03:37] jaybowong commented on #538
And another one happened just now at line 482 in ImageDownloader.

![imagedownloader 482](https://cloud.githubusercontent.com/assets/1948533/21126577/2c6f9f48-c128-11e6-83e5-1952b0b34d7b.jpg)

[code]

[2016-12-13 03:52] onevcat commented on #538
You could try to:

1. Add a cancel downloading call in the cell disappear delegate method [like this](https://github.com/onevcat/Kingfisher/blob/master/Demo/Kingfisher-Demo/ViewController.swift#L64)
2. Set the `maxMemoryCost` to a small value like `10` to disable the memory cache.

to see whether it could fix it.

And it is recommended to keep the thumbnail image small, especially when you need to

[2016-12-13 07:42] jaybowong commented on #538
Sorry for that I didn't explain it well. The thumbnail images are actually much smaller than the full size images. The average file size of those thumbnail images is about 50 KB, and I think it's fine.

After trying all the ways you mentioned, it's better. Thanks so much.

----

__And there's only problem left. I'm pretty sure about it because it always happens.__

Conditions:
- As I mentioned abo

[2016-12-13 09:18] onevcat commented on #538
It's due to memory according to your description.

iPhone 6 has 1GB, while iPhone 6s has 2GB. And the same for your case of iPad Air 1 and iPad Pro. But it's strange that it's still crashing when you limit the memory cost. Can you confirm that you are setting the `maxMemoryCost` for the correct cache, which should be `ImageCache.default` by default used in prefetcher.

And you could check the memo

[2016-12-13 12:24] onevcat commented on #538
Oops. I noticed that it might be a thread issue. It seems that the fetcher keeps requesting new thread, which might the real reason. I will confirm this and give it a fix if possible.

[2016-12-13 14:46] onevcat commented on #538
Hmmm, after some detail investigating, I found an interesting fact.

I setup a list of about 500 images with size of 3000x2000, and tried to prefetch them in different devices. Although none of these crashes, I found that in iOS 8, the memory keeps going up unbounded. So it means if I repeat downloading, there would be an OOM at last. The increased memory is all in CFNetwork under the iOS system.

[2016-12-13 16:00] bmughal opened #539 "Xcode lost connection to iPhone 5 when loading large images using kingfisher on iOS 9 and above."
Using Kingfisher library when I try to download large images, Xcode says lost connection to iPhone5. Is there any way in kingfisher to to show image chunk by chunk. ? as loading a large image causes to much spike in memory.

[2016-12-14 02:12] onevcat commented on #535
Umm..The `BlurProcessor` (as well as all of other processors) does not do anything on the orientation. Maybe you could implement a processor your own to normalize the image, if you need to display an image with different orientation settings. There is a `kf.normalized` property you could use for it.

The final processor might be something like this:

[code]

[2016-12-14 02:14] onevcat commented on #539
No, it is not supported in Kingfisher now.

[2016-12-14 02:14] #389 closed

[2016-12-14 02:15] #513 closed

[2016-12-14 07:24] bmughal commented on #539
ok, is there any workaround to show big images using kingfisher?

[2016-12-14 07:51] onevcat commented on #539
What the size of your image, and how can you show it without Kingfisher?

I am not sure what you want, but Kingfisher is made only as a shortcut to display normal images in an image view, instead of a specified domain (such as showing very large images). If you are using some other method to decode and show the image, maybe you could implement your own `ImageProcessor` to process the image data by

[2016-12-14 07:54] bmughal commented on #539
Size of image vary from iPhone to iPhone, capturing images via phone camera then uploading to S3.

Aim is to download list of above type images in Scrollview using memory efficiently.

[2016-12-14 07:59] onevcat commented on #539
So you mean a photo from camera? It should be no problem by using Kingfisher.

And the losing connect to your iPhone should have nothing to do with Kingfisher and the network, maybe it is something related to your device or cable?

[2016-12-14 07:59] onevcat commented on #539
Unless you are trying to load multiple photos at the same time...

[2016-12-14 08:00] bmughal commented on #539
Yes I am loading multiple photos at same time.

[2016-12-14 08:03] bmughal commented on #539
Right now what I am doing is, loading list of views in paginated scrollview, and load the respective image of view when that specific view is in front, rest all view images gets cancel download request,

Is that correct way sir. ?

[2016-12-14 08:05] onevcat commented on #539
If you want to show a list of small images, instead of loading the original ones, I suggest you upload a smaller version of your photos and load them. Whenever you need to show an image as thumbnail, use the smaller version. It is never a good idea to use an extreme large and detailed photo as a thumbnail.

A thumbnail is a thumbnail, while the large image should only be used in the detail view wh

[2016-12-14 08:08] onevcat commented on #539
Why do you use a scroll view? It would be better to use a collection view for that. So you could get benefit from cell reusing and only the image in cell being displayed will be loaded. It will be much easier compared to adopting to a plain scroll view and managing all states yourself.

[2016-12-14 08:12] bmughal commented on #539
Actual the aim to to make horizontal media gallery using scrollview, where user can swipe left or right to view the next or previous media.

[2016-12-14 08:15] onevcat commented on #539
So isn't it perfect to use a collection view with paginate enabled?

[2016-12-14 08:17] bmughal commented on #539
Yes, I understand.

[2016-12-14 08:21] bmughal commented on #539
I will try UIcollectionView horizontal scroll

[2016-12-14 08:22] bmughal commented on #539
Thankyou for guidance.

[2016-12-14 08:27] onevcat commented on #539
:) I will close this for now. If there is still an issue on memory, you could also try to set `ImageCache.default.maxMemoryCost` to a small value (like 1) to disable the memory cache.

[2016-12-14 08:27] #539 closed

[2016-12-14 08:30] bmughal commented on #539
Sure, Thanx again.

[2016-12-14 15:09] jaybowong commented on #538
Thank you so much. You always response so quickly. 👍

I'll try iOS 9 and 10 again. If something unexpected happens, I'll be back.

[2016-12-14 15:09] #538 closed

[2016-12-14 15:10] jaybowong commented on #528
Should I close this issue?

[2016-12-14 19:14] nbortolussi commented on #535
If it is the case that the processors do not affect rotation at all then not sure why image.kf.setImage(with: image) and  image.kf.setImage(with: image, placeholder: nil, options: [.processor(processor)]) gives different rotation results?

Anyway your recommendation with normalize did do the trick - thanks!

[2016-12-16 09:56] iOHS opened #541 "add pod but build fail (iphone)"
add pod but iphone build fail
(but simulator success!)

[2016-12-18 10:59] jyounus opened #542 "API Reference missing?"
Not sure if this is as intended or if I'm just being stupid, but the API Reference seems to be missing? It simply redirects me to the cocoa pods website: ```http://cocoadocs.org/docsets/Kingfisher/3.2.2/``` but I don't see any real documentation of all classes in there.

Here's the wiki page where I try to click on "API Reference": ```https://github.com/onevcat/Kingfisher/wiki```

[2016-12-18 12:30] onevcat commented on #542
Duplicated to #536

It's a CocoaDoc issue. There seems to be little we could do in Kingfisher for it. For now, you could refer to the API reference version of [3.1.0](http://cocoadocs.org/docsets/Kingfisher/3.1.0/), which should be all compatible with current version.

[2016-12-18 12:30] #542 closed

[2016-12-18 12:33] jyounus commented on #542
Ah, sorry! I only searched for "documentation" before opening this issue and that one didn't pop up.
Cool, thanks. Will use version 3.1.0 for now! :)

[2016-12-18 13:52] onevcat commented on #542
@jyounus Had a double check and found this issue has been fixed several days ago (but after the deployment of Kingfisher 3.2.2). After a regenerating, the latest doc should work properly now. Try to access the http://cocoadocs.org/docsets/Kingfisher/3.2.2/ (and maybe refresh the browser)!

[2016-12-18 14:02] jyounus commented on #542
You're right, that worked for me now. Thanks! :D

[2016-12-19 06:36] llodi opened #543 "UICollcetionViewCell Images change to wrong images while scrolling after async image loading"
When I'm scrolling my chat based on UICollcetionView, some images are placed on wrong cells. Here is my code:

import UIKit
import Kingfisher

[code]
Here screenshot:

![screen](https://cloud.githubusercontent.com/assets/13797475/21303304/8e4938e6-c5ce-11e6-8e74-0296d744b42d.png)

If messages don't include images, code bellow
`guard let attach = message?.lastPhotoAttachment else { return } `  aren

[2016-12-19 06:50] jaybowong commented on #528
I think it's the same OOM issue as #538 .
After I solved the OOM when downloading large images by making the images smaller with a custom `ImageProcessor`, my app won't crash anymore, even there's no space left.

[2016-12-19 06:50] #528 closed

[2016-12-19 07:00] onevcat commented on #528
Thanks for confirming this!

[2016-12-19 07:02] onevcat commented on #543
I believe it's an issue due to your cell reusing and/or the timing of `updateUI` instead of Kingfisher.

(It is rare and strange to me to update UI in `layoutSubviews`, which should only update the layout as name indicating).

Would you please check your code, especially the cell reusing timing and logic?

[2016-12-19 08:10] llodi commented on #543
I've solved my issue, I just set all outlets to nil or "" before fill them.

And Thanx, I refactored my code, splitted them on setup UI components and update UI with data

[2016-12-19 08:10] #543 closed

[2016-12-19 08:20] onevcat commented on #543
:)

[2016-12-19 14:47] tirrorex opened #544 "Weird blank space appearing before and after image"
Hello, i'm using this basic code
      imageView.kf_setImageWithURL(NSURL(string: imageURL)!)

to load an image on my detail view.
If i load an url from facebook (which is a thumbnail) everything is fine but if i load an image from twitter (large image) i will have big white spaces before AND after the image (meaning on top and beneath).
My UIImageview is in a content view which is in turn in a sc

[2016-12-20 01:12] onevcat commented on #544
The image of your url has a white border itself. Could it be the blank space you mentioned?

[2016-12-20 01:13] onevcat commented on #541
:( Have no idea. Any more information?

[2016-12-20 01:44] onevcat commented on #535
It is due to the cgImage based filter. I will give it a better fix now.

[2016-12-20 02:20] onevcat commented on #535
Fixed in 3.2.3.

[2016-12-20 02:20] #535 closed

[2016-12-20 09:01] tirrorex commented on #544
By blank space i mean with the same image redimensionned with aspect fit, edges touching the edges of the screen (so lower height), there is half the screen (vertical) being occupied by blank space, this is not related to the tiny white border of the image.
And after that half blank screen there is the image properly sized, followed by another half blank screen and then my textview (which has a to

[2016-12-20 09:13] onevcat commented on #544
So is it due to your aspect to fit mode?

Kingfisher should do nothing on the content mode, but just setting the image property of an image view. So I guess it's more likely a problem of your image view content mode.

[2016-12-20 09:14] onevcat commented on #544
P.S.

![](http://i.imgur.com/1cOU7.png)

[2016-12-20 13:39] tirrorex commented on #544
Aspect fit should not behave like this, since the image is properly sized after the huge first blank, the image is supposed to be clipped to the top of the view without any blank actually.

Also i don't have the issue if the post is coming from facebook but just with post coming from twitter (with large image).
Didn't see any issue with uncached images so i assumed kingfisher did some resize on hi

[2016-12-20 16:21] #544 closed

[2016-12-20 18:05] tirrorex opened #546 "image changing position on second display"
Hello,
following my previous issue i use kingfisher to download an image which will be set to an UIImageView.
This UIImageView is put in a view used as container with constraints being equal width, top to container and the bottom to the following textview.
The content mode is aspect fit.
Since the container is part of a scrollview i don't set the height to get an adaptative view.

That being said,

[2016-12-20 19:04] tirrorex commented on #546
Putting a scale to fill fixed the issue.

[2016-12-20 19:04] #546 closed

[2016-12-21 02:11] onevcat commented on #546
Instead of doing the dirty work in the completion handler, I suggest to using a `ImageProcessor` for this purpose. By that, you could get rid of modifying the images again and again but store the processed images in the cache.

There is already a [`ResizingImageProcessor`](https://github.com/onevcat/Kingfisher/blob/master/Sources/ImageProcessor.swift#L165), which might be a good start point.

[2016-12-21 03:17] ApolloZhu opened #547 "Rename macOS/tvOS tests to satisfy Swift Package Manager"
When I try to `swift package generate-xcodeproj` or `swift build`, following error shows up:

![screen shot 2016-12-20 at 22 08 02](https://cloud.githubusercontent.com/assets/10842684/21376182/e69079aa-c700-11e6-81ee-41df9d6c960d.png)

[2016-12-21 09:24] tirrorex commented on #546
I know i read the wifi and some other issues, but it was more a proof of concept, thanks though

[2016-12-21 14:31] Abel94 opened #548 "Image中设置圆角的第三个参数scale并没有被使用啊？"
这是Image.swift的第341-379行

[code]

代码中这个scale参数并没有被使用到。

[2016-12-22 00:53] onevcat commented on #548
Let's remove it!

[2016-12-22 03:14] #548 closed

[2016-12-22 03:14] onevcat commented on #547
Should be fixed in 3.2.4

[2016-12-22 03:14] #547 closed

[2016-12-23 10:14] liuweicode commented on #279
Very useful, thanks!

[2016-12-24 03:26] Abel94 opened #551 "猫神，如何实现和imageView等比例的圆角？"
之前我提过#548 当初是为了看如何实现和imageView等比例的圆角。貌似kf实现的圆角都是基于image的size的，而不是imageView的size，这样就导致在很多时候做出来的圆角和效果图不一致。

[2016-12-24 07:07] onevcat commented on #551
I guess you could try to resize your images to fit your image view size first, and then apply a round corner filter. You could use the `append` method of `ImageProcessor` to concatenate two processors and create a new one.

[2016-12-26 12:36] abhaverma opened #552 "Image size stored on cache is greater than the actual image size."
Upon debugging, I found that the method
**data(with image: Image, original: Data?) -> Data?**
inside DefaultCacheSerializer was returning data which is bigger in size than the _original_ data. This method internally is calling UIImageJPEGRepresentation(image, compressionQuality) or the equivalent class for png or gif types.

Trying a simple experiment on converting original data to image to data a

[2016-12-27 01:29] onevcat commented on #552
Yes, you are right on the `ImageProcessor`. The main idea of storing the data converted from image instead of original data is for `ImageProcessor`. Kingfisher prefers to using more disk space instead of  applying the processor filter every time. CPU time and filter applying is much expensive and should be reduced as much as possible, compared to disk space. So, I guess the `DefaultCacheSerializer

[2017-01-02 12:39] missyouguys opened #553 "nameSpace"
extension String: Kingfisher.Resource {
}

 nameSpace not  valid

[2017-01-02 13:40] onevcat commented on #553
You need `import Kingfisher` before you want to refer anything of this framework.

[2017-01-05 09:56] viral-etymon opened #554 "Progressive Loading"
Hi Does Kingfisher support progressive loading of image.
I mean to say that when I give URL to KF image then it start with low quality image then as data download image quality improves.

Something like below

![progressive](https://cloud.githubusercontent.com/assets/23634389/21676285/14670630-d35b-11e6-9625-6f7d7edb2b82.gif)

Thanks

[2017-01-05 16:34] szuniverse opened #555 "Q: ImageDownloader.defatult.requestModifier"
Hi

Previous I had this code:

        let downloader = KingfisherManager.shared.downloader

        downloader.requestModifier = {
            (request: NSMutableURLRequest) in

        }

but now its not available, how can I solve this with the latest version of Kingfisher?

[2017-01-05 17:24] kikettas opened #556 "Same Gif is stopped in a second ViewController"
I have a list of images (some of them are Gif) and they are loaded perfect (gif are played properly). When a user press on an item of the list, a detailed view is shown. But in this detailed view the gif's are stopped and I can't make it start (I tried startAnimating() and it didn't work). am I doing something wrong?

Thanks in advance and congratulations for this library, you are really awesome!!

[2017-01-10 11:33] onevcat commented on #554
It's not supported in Kingfisher now, and there is no plan for it currently. :(

[2017-01-10 11:33] #554 closed

[2017-01-10 22:05] ivampir opened #557 "PDF Support"
Is it possible to download pdf files?
example http://ipattaya.net/fanta-logo.pdf

[2017-01-12 06:56] zhanswift opened #558 "Not display url with cyrillic string"
In my app JSON some images contain cyrillic symblos and Kingfisher is not display this images. Plaese help.

[2017-01-12 06:58] onevcat commented on #558
Could you paste a url of that image? I will take a look.

[2017-01-12 06:59] zhanswift commented on #558
For example https://halyknews.kz/wp-content/uploads/2016/12/ден6-300x188.jpg

[2017-01-12 07:05] onevcat commented on #558
You need to escape (url encoding) it before creating and sending it as an url to Kingfisher. Like this:

[code]

[2017-01-12 10:04] zhanswift commented on #558
Thank you! It is was helped!

[2017-01-15 13:19] onevcat commented on #558
@zhanswift Oops. Sorry for that. Hope it does no harm.

[2017-01-15 13:19] #558 closed

[2017-01-15 13:21] onevcat commented on #555
It is now an option. Please see the [migration guide](https://github.com/onevcat/Kingfisher/wiki/Kingfisher-3.0-Migration-Guide#imagedownloader) and our [cheat sheet](https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#modify-a-request-before-sending) for more.

[2017-01-15 13:21] #555 closed

[2017-01-15 13:22] #553 closed

[2017-01-15 13:22] #552 closed

[2017-01-15 13:22] #541 closed

[2017-01-15 13:25] onevcat commented on #525
There is no other report on this, so I guess it is a special case and currently I have no idea for it.

If anyone find the same issue, feel free to reopen it.

[2017-01-15 13:25] #525 closed

[2017-01-15 13:30] onevcat commented on #556
Hi,

Sorry for the late reply. So you means that the GIF is not playing when loaded from cache?

Are you trying to use some your own image cache serializer? And may I know the GIF url you are using or could you even build a demo project so I could investigate it deeper?

Thanks!

[2017-01-15 13:30] #551 closed

[2017-01-15 21:58] sahandnayebaziz commented on #557
@ivampir it is possible to download PDF files from an iOS or macOS application, but I don't think Kingfisher would best serve you for this. Kingfisher is great for getting images and getting them to your UIImageViews and other views where you display images.

If you need to download a PDF file over HTTP, I would use [Alamofire](https://github.com/Alamofire/Alamofire). If you need to display the PD

[2017-01-16 07:40] jovanpreet opened #559 "maxCachePeriodInSecond to unlimited"
Hi @onevcat currently my app has two types of images.

1. The one that comes on news feeds. For them image cache of 7 days is good.

2. Images that come in chat. Until user logout and login with different id, i need those images to be cached i.e. to clear disk cache manually only.

How can i achieve this?

[2017-01-16 07:54] onevcat commented on #559
Instead of using the default cache, you could setup and use two different caches (`ImageCache`), one for each.

See the [cheat sheet](https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#use-customized-downloader-and-cache-instead-of-the-default-ones) for more.

[2017-01-16 07:59] jovanpreet commented on #559
I already saw that. My issue wasn't that. I just wanna know how to implement maxCachePeriodInSecond = infinity //Unlimited.
just like maxDiskCacheSize can be set to 0 for unlimited storage size

[2017-01-16 08:21] onevcat commented on #559
Oh,

There is no such "infinity" date currently. Maybe you could set `maxCachePeriodInSecond` to a relatively large number, like "300 * 50 * 60 * 60 * 24 * 7" (maybe 300 years?)

[2017-01-17 05:34] Albinzr opened #561 "Image completion handler"
Why is image completion handler gets executed multiple time for single image ?

[2017-01-17 05:41] onevcat commented on #561
It should not happen. Can you give some sample for it?

[2017-01-17 06:14] Albinzr opened #562 "When we use ResizingImageProcessor on gif, It become non animating"
When i did ResizingImageProcessor on a .gif image its not animating, Why is it happening and how can I make it animate?

[2017-01-17 06:20] onevcat commented on #562
Currently none of the built-in image processors (expect the default one) would work for GIF files.

Kingfisher applied some basic support for GIFs, like downloading and displaying. However, it is neither a professional nor a complete library for processing GIF.

You may need to implement your own `ImageProcessor` for that. And you could even use some other GIF-specified framework to help you for t

[2017-01-17 06:20] #562 closed

[2017-01-17 06:35] Albinzr commented on #562
How is it resized valid GIF image ?

[2017-01-17 06:43] Albinzr commented on #561
Ya sure
<img width="1228" alt="screen shot 2017-01-17 at 12 11 27 pm" src="https://cloud.githubusercontent.com/assets/7425577/22010266/20550cb0-dcae-11e6-8a0a-37da0a65c416.png">

If you look at the log you can see it have been called multiple times

[2017-01-17 06:54] onevcat commented on #561
I guess your `configure(data:)` also got called multiple times?

[2017-01-17 07:12] Albinzr commented on #561
Nop,I checked that too...

[2017-01-17 07:13] Albinzr commented on #562
Which lib will you suggest for cropping gif ?

[2017-01-17 08:12] Albinzr commented on #561
@onevcat this happens only the first time downloading image, not when retrieving from cache

[2017-01-17 08:23] onevcat commented on #561
:( Just tried to load the same image in the demo scene and a new project. Cannot reproduce it.

Is it possible to build a demo project which could reproduce this problem?

[2017-01-17 08:39] Albinzr commented on #561
Ok I will try that

[2017-01-17 09:14] ro6lyo opened #563 "RoundCornerImageProcessor output image"
Any idea why it keeps white background around the image?

![screen shot 2017-01-17 at 11 04 09 am](https://cloud.githubusercontent.com/assets/13335070/22014315/c8d122ce-dca5-11e6-9dc9-013168af3004.png)
![screen shot 2017-01-17 at 11 04 54 am](https://cloud.githubusercontent.com/assets/13335070/22014322/cf2a339a-dca5-11e6-8521-f97a30d29d0b.png)

[2017-01-17 10:17] onevcat commented on #563
It seems that you are applying this processor to an image without alpha channel (for example, jpg files). When you caching that file to disk, Kingfisher will keep the format and use a nearest presenting way, which means stored as jpg.

You could implement a customized `CacheSerializer` to store the processed image as png to keep the alpha channel. Here is some code snippet for it:

[code]

Or, jus

[2017-01-17 10:38] ro6lyo commented on #563
Right its JPEG. Thanks for help appreciated!

[2017-01-17 10:38] #563 closed

[2017-01-17 16:46] jovanpreet commented on #559
Okay thanks i would implement that.

Just wanna ask, are you planning to implement this in future?

And one more thing. Is there a callback of images that are going to be deleted? I mean just the image keys might work

[2017-01-18 05:32] Albinzr commented on #561
When I restarted Xcode it started to work fine, Some wired issue

[2017-01-18 05:32] #561 closed

[2017-01-18 14:47] indrajitsinh opened #564 "Image get Rotated after applying RoundCornerImageProcessor"
if i load the image without applying RoundCornerImageProcessor the image will load perfectly but when i apply RoundCornerImageProcessor it will rotate the image.

**my code**
[code]
**following is the screen shot**

![image processing bug](https://cloud.githubusercontent.com/assets/11308777/22068285/9617dad8-ddba-11e6-99a7-82b6a349dd6b.jpeg)

does i am doing something wrong or it's a bug ?

[2017-01-18 16:51] jovanpreet commented on #559
@onevcat Please help

[2017-01-18 21:54] nbortolussi opened #565 ""[Kingfisher] Failed to create CG context for blurring image.""
I am getting this assertion causing my app to crash line 479 of Image.swift. In log the following error was also visible before the assertion:

`
CGBitmapContextCreate: unsupported parameter combination: set CGBITMAP_CONTEXT_LOG_ERRORS environmental variable to see the details `

I have deleted the assertion and though I am not getting any blur, at least the app no longer crashes.

[2017-01-19 01:11] onevcat commented on #565
Hey.

It might be caused by some strange format of that image. May I know the image url (or the image itself) crashes your app? So I could have a look at what happen indeed.

Thanks.

[2017-01-19 01:24] onevcat commented on #564
Maybe related to #535

However, I cannot reproduce this issue for an image with non-top orientation exif. The round corner processor is doing nothing on the image orientation. So it is a bit weird.

Can you upload this image in this issue? So I can take a look at it.

And for a quick "workaround", maybe you could follow the `NormalizingProcessor` way to see whether it could work or not. (But it sh

[2017-01-19 01:27] onevcat commented on #559
Sure. It could be clear to add a `forever` option for the cache time. I will do it later.

And there is a `KingfisherDidCleanDiskCache` notification you could use for the images. You can find the API reference [here](http://cocoadocs.org/docsets/Kingfisher/3.2.4/Extensions/Notification.html#/s:ZvE10KingfisherVCSo14NSNotification4Name27KingfisherDidCleanDiskCacheS1_).

[2017-01-19 01:31] onevcat commented on #557
@ivampir  Sorry for the late reply! But as @sahandnayebaziz mentioned, Kingfisher does not support PDF files. You might be able to download and cache them by implementing some specified `ImageProcessor` and `CacheSerializer`, but it would be much easier to use some other ways in the comment above.

[2017-01-19 01:31] #557 closed

[2017-01-19 05:07] indrajitsinh commented on #493
upgrade to Xcode 8.2 it's work fine for me in Xcode 8.2

[2017-01-19 07:13] jovanpreet commented on #559
What if i added this notification on a controller and kingfisher perform cleanup when that controller is not ye initialized. then?
Do i have to implement this on every controller(bad idea).
Please provide a example with best use case.

[2017-01-19 07:16] onevcat commented on #559
Your selector will not get called if the instance (target) is not there.
You'd like to add that to a long life time object, for example your app delegate or your very first tab view controller which will exist across the whole app life time.

[2017-01-19 07:18] jovanpreet commented on #559
Ok thank you.
Will disturb you again if i got stuck in any other problem...:p

[2017-01-19 14:42] nbortolussi commented on #565
Sure here is the image url: https://s3.amazonaws.com/winering-production/10906-313f1f875b62f3a-full

[2017-01-20 02:52] onevcat commented on #565
Should be fixed in #567.

There are some other work to do before a new version could be released. I will tag it later ASAP.

[2017-01-20 02:52] onevcat commented on #493
Thanks for the feedback.

[2017-01-20 02:52] #493 closed

[2017-01-22 08:27] IAskWind opened #572 "ImageCache.swift:479:62: error:"
- ERROR | [iOS] xcodebuild:  Kingfisher/Sources/ImageCache.swift:479:62: error: result values in '? :' expression have mismatching types '_' and 'Date'

[2017-01-22 09:24] onevcat commented on #572
It's a bug of Xcode 8. Please upgrade to Xcode 8.2, or you can just use an earlier version of Kingfisher (3.2.4) for a while until you upgrade your Xcode version.

[2017-01-26 20:42] jaimeagudo commented on #286
I confirm is not supported, I have suffered it myself implementing a 307 with NGINX and HSTS as iOS requirement to server images through https is coming. You can test it with
https://p.aidto.party:41337/parse/files/Paid2Party/ca398f02933ab89ddd0b9f3f43bfbcd5_p1w7xaoRAL_0.jpg, the browser does it just fine.

I think it worth to mention on the docs. Thanks for sharing the good work guys 👍

[2017-01-27 12:08] borut-t commented on #572
@onevcat You are right. This is solved in 8.2. But on older versions this causes an error. We are using CircleCI and they obviously have older version. Tests fails because of this issue.

You could make this right on older versions like this:
[code]

That way property doesn't need to infer data type and will not cause error on older versions.

Could you make a fix asap?

[2017-01-27 12:45] borut-t commented on #572
@onevcat CircleCI did upgrade to version 8.2 and there is no more problem.

[2017-01-27 15:14] onevcat commented on #572
Indeed, I think we'd better modify it to support some (not so) early Xcode version. I will take look at it later. Thanks for the feedback!

[2017-01-29 13:00] onevcat commented on #286
Sorry but I wish I could have time to implement it soon, in next week. Let's see.  :(

[2017-01-30 02:31] onevcat commented on #564
Since there is no additional comment, I will close it now. If there are any other similar cases, feel free to reopen this one or just create a new issue.

[2017-01-30 02:31] #564 closed

[2017-01-30 02:31] #559 closed

[2017-01-30 02:46] onevcat commented on #286
@bluesoulx Just tested with Kingfisher and Facebook image url. It seems that the 302 redirect is already handled by `NSURLSession` now and I could load the image from the "http://graph.facebook.com/{Fb_UserId}/picture?type=large" without problem. Could you confirm this too?

[2017-01-30 02:50] #572 closed

[2017-01-30 03:56] bluesoulx commented on #286
@onevcat Today I try this url with Kingfisher
I can confirm this is fixed! Thanks for your helps ^^

[2017-01-30 03:56] #286 closed

[2017-01-30 15:00] rickyngan opened #575 "Change all M_PI to CGFloat.pi for Swift 3.0"
For old versions of Swift, you use M_PI to refer to the pi constant. Swift 3 integrates the pi constant in the Float, Double and CGFloat types:

Float.pi
Double.pi
CGFloat.pi

[2017-01-31 06:34] onevcat commented on #575
That makes sense!

[2017-01-31 17:22] mixmastertube opened #577 "ssor"

[2017-02-03 13:51] OneSman7 commented on #532
Hello!

Using latest version from pod. I can confirm that cancelling image load in similar example does nothing.
My view controller has one image view. In viewDidLoad I write following:

`let urlString = "https://s-media-cache-ak0.pinimg.com/736x/c6/8e/1c/c68e1c54710c1a002d4317917e745337.jpg"`
`let url = URL(string: urlString)`
`imageView.kf.setImage(with: url)`
`imageView.kf.cancelDownloadTask()`

[2017-02-03 15:50] onevcat commented on #532
@OneSman7 Great catch! 👍 I found an issue on this. Instead of a associated object problem, it is a race condition in cancel task. I will give a fix on it tomorrow!

@damien-nd And your issue might be related to another disk cache cancelling problem, which the callback not called properly. I will also fix it tomorrow since it is now quite late for me and I need a sleep.

[2017-02-04 07:09] #577 closed

[2017-02-04 07:09] #575 closed

[2017-02-04 07:10] #532 closed

[2017-02-04 09:13] Fnoz opened #581 "UIImageView 连着两次 setImage，progressBlock 和 completionHandler 问题"
此时应该把之前 task 中的 block 置空，或者标记一下不执行。
虽然现在判断了 imageURL == self.webURL，使得 completionHandler 没执行，但是 progressBlock还是会执行，如果打印进度，会有下面的情况，另外这样的判断感觉也不太好。
A10%    B50%    A30%    A100%    B60%    ...

本来想给 CallbackPair 加一个 identifier，然后 cancel 或者 removeTaskBlock（setImage时执行）时，用来 removeBlock，发现改动有点大，而且感觉不优雅，所以提了issue。

[2017-02-05 09:40] onevcat commented on #581
Thanks for mention it. I will see what I could do with it. Maybe just cancel the previous downloading (but without calling the failure handler) could be a good idea.

[2017-02-06 08:09] Hoikiiz opened #584 "a spelling error : )"
line 356 in file Image.swift
'Round corder ' or 'Round corner'

[2017-02-06 08:12] onevcat commented on #584
Fixed. :)

Thanks.

[2017-02-06 08:12] #584 closed

[2017-02-06 15:25] kubajakowski commented on #492
besides memory issues it's also related to https://github.com/onevcat/Kingfisher/issues/375

[2017-02-07 03:15] MattTimmons commented on #395
Hi, any progress in exposing a fix?

[2017-02-07 14:17] mixmastertube opened #585 "Gradient CImageProcessor"
Hi,
I'm trying to create a gradient generator, using CIImage Filters.
I'm using the CIImageProcessor processor wrapper, but I didn't find how can I pass some parameters like the gradient colors and positions.

The code for achieving gradients is like this.

`struct GradientFilter: CIImageProcessor {

    let identifier = "com.domain.CILinearGradient"

    let filter = Filter { input in

        gu

[2017-02-07 14:36] onevcat commented on #585
Maybe you mean something like this?

[code]

Please note that the `identifier` property should be identical, which says, for every combination of the `startColor`, `endColor`, `startVector` and `endVector`, the `identifier` should be different. Or Kingfisher will be confused when retrieving the images from cache.

[2017-02-07 16:48] MayaLekova opened #586 "Unable to load GIF from Google's Storage API"
I'm writing a [simple app](https://github.com/MayaLekova/ios-is-now-illegal) which uses Kingfisher to display gifs inside an `AnimatedImageView`. When I'm testing with some gif from giphy.com, it loads correctly. However when I try to load a gif stored on storage.googleapis.com, the library returns "bad data" error (Error Domain=com.onevcat.Kingfisher.Error Code=10000)

What I tried:

1. Checking

[2017-02-08 10:23] MayaLekova commented on #586
Sorry if I'm adding too much info, but:
I switched to using a not-anymore supported library called MapleBacon and it succesfully loads the gif. They have a similar code to obtain the delays between the gif frames, but also include a fallback in case there are no delays embedded. You can take a look [here](https://github.com/zalando-incubator/MapleBacon/blob/master/Library/MapleBacon/MapleBacon/Ima

[2017-02-08 10:50] mixmastertube commented on #585
Wow, that was it!!

thanks so much.

[2017-02-08 10:51] #585 closed

[2017-02-08 11:31] ilandbt opened #587 "Is there a way to cache images with an associated string?"
Is there a way to cache images with an associated string?
like a tag? title, or image description?

Thanks

[2017-02-09 09:22] stijnwesterhof opened #588 "RoundCornerImageProcessor doesn't work on image insde of collectionviewcell - tvOS"
I have an imageview inside of a collectionview cell. I tried a few processors and they work, but the RoundCornerImageProcessor doesn't work for me..
`let processor = RoundCornerImageProcessor(cornerRadius: 20)
  imageView.kf.setImage(with: url, placeholder: nil, options: [.processor(processor)])`

[2017-02-09 19:50] Killectro opened #589 "Passing non-default `ImageProcessor` to `ImagePrefetcher` will always cause cache miss"
When you pass an `ImageProcessor` to `ImagePrefetcher` it will check to see if it exists in the cache like this:
[code]

If that returns `false` it will continue on, download the image, process it, and store it like this:

[code]

Both cache keys are calculated using the same method:

[code]

but you might notice, that above when calling the `isImageCached(forKey:processorIdentifier:)` method, `Im

[2017-02-10 00:59] onevcat commented on #589
You are definitely correct on this! Thank you!

[2017-02-10 01:00] #589 closed

[2017-02-10 01:02] onevcat commented on #587
You can choose any string as your key. Just create an `ImageResource` and pass it to Kingfisher's image setting methods.

See

https://github.com/onevcat/Kingfisher/blob/master/Sources/Resource.swift#L45-L64

or the [wiki](https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#use-a-specified-key-other-than-the-url-for-cache) for more.

[2017-02-10 01:06] onevcat commented on #586
@MayaLekova

Thanks for the information. I seems to be a gif decoding issue (Kingfisher is not a gif library after all). I guess we could add the same fallback in Kingfisher. I will check your sample app above and see what is the best way to solve it.

Thanks for your time in investigating it. It is really helpful and you are great!

[2017-02-10 02:11] onevcat commented on #586
Hi, may I get the GIF file with problem?

I tried the one you mentioned in your original post ([this](https://storage.googleapis.com/is-now-illegal.appspot.com/gifs/TEST.gif)) and it seems that Kingfisher decode it without problem for both `UIImageView` and `AnimatedImageView` (and it has 95 frames instead of 71). So I guess it is not the one with issue.

[2017-02-10 02:16] onevcat commented on #588
![simulator screen shot 2017 2 10 11 14 55](https://cloud.githubusercontent.com/assets/1019875/22811443/2dab9cd0-ef82-11e6-9839-d56d694ab14f.png)

It works for me well, at least in the demo app.

Any more information?

[2017-02-10 08:26] MayaLekova commented on #586
Hello @onevcat , thank you for your reply! Really pleased if I can help.

Seems the guys hosting the gifs have changed the one that I tested with initially, but here's [another one](https://storage.googleapis.com/is-now-illegal.appspot.com/gifs/BABA.gif) constructed from the same static frames - it should contain 71 frames again. Hope this will help you!

PS: Just in case they wipe this other gif,

[2017-02-10 08:49] stijnwesterhof commented on #588
@onevcat I wish that I could give you more information, but the fact is every processor works for me except the rounded image. But when I have an imageview outside of a collection view cell then the roundedcorner processor does work properly..

[2017-02-10 08:53] onevcat commented on #588
Maybe take a look at the demo app in Kingfisher, which is also using image view within a collection cell.

Could it be related to this? https://github.com/onevcat/Kingfisher/blob/master/Demo/Kingfisher-Demo/CollectionViewCell.swift#L37

[2017-02-10 09:03] stijnwesterhof commented on #588
@onevcat sadly enough it's not related to it. I had these properties already

[2017-02-10 09:38] onevcat commented on #588
Can you build a sample app which could reproduce it? I'd like to have a look at it if there is a way to reproduce on my side.

[2017-02-10 12:12] kikettas commented on #556
Hi,

First of all, sorry for the delay. It was my bad, I was using AnimatedImageView on code but I had not set AnimatedImageView class on IB Identity inspector. Sorry for bothering you, and again congrats for this outstanding library.

Regards.

[2017-02-10 12:12] #556 closed

[2017-02-10 12:47] onevcat commented on #556
Great to know that!

[2017-02-11 11:25] #586 closed

[2017-02-11 11:37] onevcat commented on #492
Should be added in version 3.4.0. Use `.onlyLoadFirstFrame` for that purpose.

[2017-02-11 11:37] #492 closed

[2017-02-11 11:38] onevcat commented on #586
Should be fixed in version 3.4.0.

[2017-02-11 11:38] onevcat commented on #589
Should be fixed in version 3.4.0.

[2017-02-11 11:39] onevcat commented on #375
Now you can use `onlyLoadFirstFrame` to load the first frame of a GIF.

[2017-02-11 11:39] #375 closed

[2017-02-11 19:22] ilandbt commented on #587
@onevcat thanks for the response, i will explain what exactly i meant.

 I need to cache a image + description together.
I dont want the description to be the key because then i need to save the descriptions in core data or some other DB.

I want the key to be something like image<index> and then i can save my last index in user defaults instead of in a DB.

Thanks

[2017-02-13 01:08] onevcat commented on #587
Oh,

No, there is no such feature in Kingfisher. And it is not likely to be added since I didn't see good reason for it in an image downloading framework. You may use some other persistent way for your purpose. :(

[2017-02-13 01:10] ilandbt commented on #587
Thanks anyway!!

[2017-02-13 01:11] #587 closed

[2017-02-13 02:25] mingzizhennanqu opened #593 "completionHandler?(nil, error, cacheType, imageURL)"
这里图片缓存失败，是nil的时候，显示失败占位图，切换到其它页面，上页面的controller和view已经释放，有时候会崩溃在这里，是不是这里线程没释放，该如何处理？

[2017-02-13 13:09] stijnwesterhof commented on #593
?

[2017-02-13 14:17] stijnwesterhof commented on #588
Sorry for the late reaction. The problem was that the size of the image wasn't right to accomplish what I wanted. So I needed a resize processor as well.

`let processor = ResizingImageProcessor(targetSize: CGSize(width: 300, height: 300)) >> RoundCornerImageProcessor(cornerRadius: 150)
imageView.kf.setImage(with: url, placeholder: nil, options: [.processor(processor)])`

[2017-02-14 01:59] mingzizhennanqu commented on #593
你好：
     在使用kingfisher库进行图片缓存处理时候，
self.iconImageV.kf.setImage(with: URL.init(string: url), placeholder: self.iconImageV.loading(28, h: 28), options: nil, progressBlock: nil, completionHandler: { [unowned self](image, _, _, _) in
                DispatchQueue.main.async {
                    if image == nil{
                        self.iconImageV.image = self.iconImageV.loadFail()

[2017-02-14 02:12] onevcat commented on #593
DO NOT use `unowned` unless you really know what does it exactly means. Instead, I suggest you to use `weak` or just keep a strong reference here.

[2017-02-14 02:16] onevcat commented on #588
Good to know that.

You mentioned about the shadow, which I guess is added by UIKit of tvOS to show a focus indicator?

It seems we do not have much to do with it since it is a system behavior and a almost a black-box to us. :(

Maybe it would be better to use a small round-corner image instead of a fully round image to get a nice visual effect.

[2017-02-15 00:24] jjjeeerrr111 opened #594 "cancelDownloadTasks() causes memory leak"
I have a horizontal scrolling collection view that loads images from the network. I load the images using imageView.kf.setUrl(with: url) but if the user scrolls quickly through the collection view I dont want to waste the network calls so I call imageView.cancelDownloadTask() on collectionView:didEndDisplayingCell in my collectionViewDataSource method.

However when looking at the memory graph I c

[2017-02-15 01:02] onevcat commented on #594
Hi, I cannot reproduce this in the demo project, everything goes well and no cell is retained. The demo project is also using a collection view and with cancelling of downloading in didEndDisplayingCell.

![snip20170215_1](https://cloud.githubusercontent.com/assets/1019875/22956288/70fa0bbc-f364-11e6-814a-636dc96e4538.png)

1. Are you using some `ImagePrefetcher` for these cells? By default the pr

[2017-02-15 01:03] #588 closed

[2017-02-15 01:17] jjjeeerrr111 commented on #594
ok ill look into it and build a sample. thanks

[2017-02-15 01:21] jjjeeerrr111 commented on #594
1. not using a prefetcher
2. im on the latest pod, i tried updating to fix this issue
3. I tried on both

Maybe its worth noting that by collection view is in a tableview cell.

[2017-02-17 10:20] Isuru-Nanayakkara opened #595 "Directly retrieveing a UIImage object from the cache"
Hi,

I have saved some images in the disk cache. In my app, there's a collection view and a delegate method which I have to return a `UIImage` object for each cell. So using the following method doesn't work since it's asynchronous.
[code]

<hr>

**Attempt 1**

I tried this way to get the image directly but this returns `nil`.
[code]
But I can see that the cache indeed has the image objects if I p

[2017-02-17 10:30] g001613001 opened #596 "log訊息一大堆，記憶體資源佔用暴增"
你好
我用cocoapods安裝後
簡單的測試使用一下
let img = UIImageView()
img.kf.setImage(with: URL(string:"http://i.imgur.com/Ajp5A6B.jpg"))

結果發現log訊息吐了一堆，並且持續在刷屏
然後記憶體佔用狂增加都不會停
只有一張圖就佔用了幾十mb的記憶體

不知道這是少設定了什麼造成的？

我是用ios 10 的模擬器測試的，手機也是有相同問題
但是ios9不會log訊息一堆，但是記憶體資源一樣是大量佔用

[2017-02-17 14:44] onevcat commented on #596
You image size is 1440x2560, which means it will take more than 10MB. So it is not surprising it will take some amount of memory (but it should be only 10+MB for you)

And it is not wise to do any profiling in a simulator or attaching to debugger. Please always try to profile your app in Instruments and if you find anything strange, you could attach the profile result and log, so I could have a de

[2017-02-17 14:44] #596 closed

[2017-02-17 14:50] onevcat commented on #595
`ImageCache.default.retrieveImageInDiskCache(forKey: "key", options: [.onlyFromCache])` returns an optional image, so you just need to unwrap and use it. You do not need the `?.imges?.first`, unless you r image is an animating one (GIF image).

[2017-02-17 20:31] Isuru-Nanayakkara commented on #595
Thanks!

[2017-02-17 20:31] #595 closed

[2017-02-19 06:53] TimOliver opened #597 "Adding Aspect Fit/Fill to Image Resizing Processor"
Hi @onevcat!

Thanks for this awesome library! It's really impressive! :)

I was playing with the `ResizingImageProcessor` in my app to resize images preload in a `UITableView`, and there were 2 resizing modes I was looking to use:

* Aspect fit: where the image stays at the same aspect ratio, but it scaled down to completely fit inside `targetSize.
* Aspect fill: where the image is kept at the sa

[2017-02-19 08:50] onevcat commented on #597
Hi, thanks for considering contributing!

That's great if you could implement it! I think just extending the `ResizingImageProcessor` to contains additional properties would be a totally fine and better way.

Since it should not be a breaking change, so please add this as an option and keep current implementation for default using. Currently, the input size will be respected without aspect fitting

[2017-02-20 12:18] Drusy commented on #597
Hi @onevcat, @TimOliver,

I just had to implement this feature this morning for my project functional scope.
Would you like me to share and make the PR for this or @TimOliver do you want to implement this one ?

Let me know

[2017-02-20 15:00] onevcat commented on #597
👍  @Drusy It's great to hear that you are interested in it too. I'd like to receive a p-r from you!

However, since @TimOliver was earlier and might be still working on this, let's keep for a while to see Tim's comment now. :)

[2017-02-20 15:04] Drusy commented on #597
@onevcat of course, keep me updated :)

[2017-02-20 18:55] TimOliver commented on #597
Hey @Drusy, and @onevcat! Thanks for that!

Oh cool! No, I hadn't started it yet. I'm on a deadline to ship an app this week, so I would have had to have started it next week at the earliest.

If you've already got an implementation, then by all means, don't let me stand in the way! :)

[2017-02-21 00:50] #593 closed

[2017-02-21 02:35] onevcat commented on #597
@TimOliver Great! Thank you.

@Drusy :)

[2017-02-21 02:45] onevcat commented on #54
P.S. There is a WebP framework as plugin for Kingfisher now. Check https://github.com/yeatse/KingfisherWebP

[2017-02-21 06:28] BrikerMan commented on #597
added #599

[2017-02-21 08:27] Drusy commented on #597
@onevcat After reading @BrikerMan PR, I actually didn't know the existence of a such method `func resize(to size: CGSize, for contentMode: UIViewContentMode) -> Image`. If I would, I would probably have done the same.

Here is my PR #600 for this feature using your size proxy (no UIKit)

[2017-02-21 09:08] onevcat commented on #597
@TimOliver @BrikerMan @Drusy Thank you all! #600 was merged and I will prepare a release for it later today.

`func resize(to size: CGSize, for contentMode: UIViewContentMode) -> Image` is now a UIKit specified helper method and we could merge it to the general resize one with new `ContentMode` enum, to improve readability. That should be another story and maybe I could find some time later for it

[2017-02-21 09:08] #597 closed

[2017-02-22 08:34] BrikerMan opened #603 "ImagePrefetcher 阻塞主线程"
如果使用 `ImagePrefetcher` 会导致主线程阻塞，UI卡顿。注视 `ImagePrefetcher` 就没问题....
是我使用姿势不对？
谢啦喵神~
[code]

[2017-02-22 08:45] onevcat commented on #603
:(

It should not happen since `ImagePrefetcher` is using the same downloader as the `ImageView` extension under-hood. Generally speaking they should behave as the same (or at least similar) performance.

But I will check what happened here. Maybe it just because you are trying to load huge amount of images here? May I know the `links.count` you are using? Or you could try to set the `maxConcurren

[2017-02-22 09:22] BrikerMan commented on #603
I don't think the problem is images count. I have only 22 models here~ Maximum links count is 6.

When All image has cached, It will 60 FPS if I disable the prefetch code, and will drop to 40 at the first several time when scroll with prefetch enabled, then back to 60.

[code]

[2017-02-22 18:23] NateFuller opened #604 "Cocoapods: Kingfisher classes not recognized"
I am developing a framework that we archive as a .framework file and drop into a container application.

I have made sure to include the `import Kingfisher` statements at the top of the source files I am referencing Kingfisher classes in.

Getting compiler errors like "Use of undeclared type 'Resource'", "Use of undeclared type 'ImagePrefetcher'", etc when I set "Build Active Architecture Only" to

[2017-02-23 04:15] TimOliver commented on #597
Awesome! Great work all! :D

[2017-02-23 06:23] onevcat commented on #604
How did you include Kingfisher into your framework? You also need to build Kingfisher for all valid architectures if you want your own framework to be compatible with all architectures.

[2017-02-23 10:21] webmaster128 opened #605 "View-independent network activity"
On iOS, we use a global object counting network activity jobs to show the network activity indicator of job count >= 1. The interface is as sibple as

[code]

I tried to hack these calls into Kingfisher by setting an invisible custom Indivator

[code]

Now I am using this in a View of a UICollectionView, where views are reused. It turns out, that not for all network jobs, stopAnimatingView is call

[2017-02-24 03:00] yuvalt opened #606 "Crash when storage is full on device (Kingfisher 3.3.4, iOS 10.0.2, iPhone SE)"
0   vImage                               0x0000000183dbd360 _ERROR_Buffer_Read__Too_Small_For_Arguments_To_vImage__CheckBacktrace + 56
1   vImage                               0x0000000183dbd2f4 vImageDebug_CheckSrcBuffer + 148
2   vImage                               0x0000000183e529d0 vImageConvert_AnyToAny + 964
3   ImageIO                              0x0000000184b05068 IIOImagePixelDataProvid

[2017-02-24 03:07] onevcat commented on #606
:(

Kingfisher itself handles the disk full error when writing data, but I guess there is little we could do with this according to your log, since it is deeply in the ImageIO while converting the image to data. It is before Kingfisher could even try to write the file to disk with `NSFileManager`.

Maybe opening a radar to Apple would be a better way to solve this.

[2017-02-24 03:07] #606 closed

[2017-02-24 03:11] yuvalt commented on #606
Thanks for the quick response

[2017-02-26 18:26] malebuffy opened #607 "Cannot download Image"
Hello,
I am using Xcode 8 and Swift and I am trying to use Kingfisher in my project. However, I havent managed to load a image  from firebase to a UIImageView. I want to download some images and use them in a Array so that I can use them in a scroll view.

Now although the code compiles, I get: fatal error unexpectedly found nil while unwrapping Optional value. If I use a placeholder image with se

[2017-02-27 00:59] onevcat commented on #607
The `setImage` method of Kingfisher is an async operation. The image property of your `folie1Image` is still `nil` when you trying to force unwrap it.

It is not a Kingfisher issue but the way you use Swift. I suggest to ask in Stackoverflow instead of opening an issue here. You would get more chance to be helped there.

[2017-02-27 00:59] #607 closed

[2017-02-27 01:13] onevcat commented on #605
Hi, @webmaster128

Yes, the problem here is related to the reusing. There is a mechanism in Kingfisher's image view extension that if the target URL is not the same as the url of currently loaded image, it will neither think the image setting would finish nor call the completion handler. Instead, it just keep trying to wait the "correct" image to be back.

It is a reasonable behavior for it workin

[2017-02-28 00:28] yuvalt opened #608 "Image processing runs on downloader thread and causes crash when using OpenGL"
I wrote a custom ImageProcessor which uses GPUImage, which in turn runs OpenGL code. It crashes since it tries to perform UI calls from that the downloader thread. The image processor needs to either run from the main thread or let the image processor developer and option to work in an asynchronous manner.

Thread 13 Crashed:
0   libGPUSupportMercury.dylib           0x00000001a1688f94 gpus_ReturnN

[2017-02-28 01:04] onevcat commented on #608
I believe you could always run your code in main thread in your own processor, by using:

[code]

[2017-02-28 01:20] yuvalt commented on #608
You're right, did not think of running it with the sync() method, always use the async method :-) Thanks

[2017-02-28 01:20] #608 closed

[2017-02-28 14:42] innac-hyuna opened #609 "How I can use it for disk cache? And When cache is has cleared?"
For example, I need download image to disk and then will clear cache.

[2017-03-01 02:10] andy1247008998 opened #610 "clearMemoryCache 崩溃"
![snip20170301_1](https://cloud.githubusercontent.com/assets/7299189/23443032/30092152-fe67-11e6-96b0-394f1fc32bcf.png)

[2017-03-01 02:19] onevcat commented on #610
What is the `sparkAddressString`?

There is no such method in Kingfisher nor Kingfisher tries to call.

So, ot seems not to be a problem in Kingfisher. Are you using some runtime swizzle or injection to modify the `ImageCache` class?

I guess you are using [Spark Inspector](http://www.sparkinspector.com) in your project? Try to turn it off to see whether it could help.

[2017-03-01 02:29] andy1247008998 commented on #610
@onevcat Yeah, you are right. I am using SparkInspector.

The solution might be this:

1. let ImageCache inherit from NSObject
`open class ImageCache:NSObject `
2. add super.init()
`        super.init()`
` ioQueue.sync { fileManager = FileManager() }`

[2017-03-01 10:27] bes opened #611 "Slow compile time for "func blurred(withRadius radius: CGFloat) -> Image""
Hi,

The Kingfisher project has previously solved issues with slow compile times (#467, #468), so I am posting this in the hopes of you being able to solve this new one that I am seeing since recently upgrading to the latest version (3.5.0 / 5cfa0dd5c9fc48e1c31f574ad8eaa31a3a9d4003):

[code]

CC @frankrausch @onevcat

Thanks, BR, Erik

[2017-03-01 11:23] frankrausch commented on #611
Do you remember which version you had before? That would make it easier to isolate the problem.

I took a quick look at the `blurred` function but didn’t see anything suspicious (like a complex equation in one line).

[2017-03-01 12:04] bes commented on #611
This is showing up since upgrading from 3.3.3, but I can't see any changes in blurred between those versions. Right now blurred is the function that takes the longest time to compile in our project (according to `-debug-time-function-bodies`), but I can't say how accurate that is...

I am coming from 7 years of Android development, and I must say the iOS tool chain is quite bad compared to anythin

[2017-03-01 12:08] rkittinger opened #612 "Contentmode = .center ignored by AnimatedImageView?"
this worked in version 3.1.1. Loaded animated GIFs into collection view cells. Now they all appear big and fill the entire cell, instead of keeping image size and centering in cell.

[2017-03-01 13:07] onevcat commented on #611
Should be fixed in https://github.com/onevcat/Kingfisher/pull/613

It took me about 2000ms before. And now 100ms.

[2017-03-01 13:09] onevcat commented on #610
It's nothing to do with the quality of Kingfisher project and should be an issue of Spark Inspector.

[2017-03-01 13:09] #610 closed

[2017-03-01 13:10] onevcat commented on #609
Please read the [Cheat Sheet](https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet) wiki to know how to use a feature. And refer to the [docs](http://cocoadocs.org/docsets/Kingfisher/3.5.0/) for more detail of `ImageCache`.

[2017-03-01 13:10] #609 closed

[2017-03-01 13:20] rkittinger commented on #612
using option .preloadAllGIFData seems to help now

[2017-03-01 13:35] onevcat commented on #612
Only `aspectFit` and `aspectFill` now is supported in a `AnimatedImageView`. All other cases will fall into the `scaleFill`. This is an aggressive optimization for large size gif, which will resize them to the image view size instead of wasting memory by a render scaling.

You can set `needsPrescaling` on `AnimatedImageView` to `false` to disable it, then Kingfisher will respect your content mode

[2017-03-01 13:38] rkittinger commented on #612
Thank you.

[2017-03-01 14:06] #611 closed

[2017-03-01 14:08] bes commented on #611
Thank you!

[2017-03-01 15:00] frankrausch commented on #611
Amazing! Still unbelievable that splitting the statement into 3 lines makes such a huge compile time difference.

[2017-03-01 19:29] kherlopian2 opened #614 "Imageresize"
I HAVE uitableview, and in this uitableview I got a cell. This cell has a 2 uiimageview next to each other with equal widths.I want both this 2 imageviews to take the entire width, 1st imageview half the width screen second imageview the other half. I am getting the images from kingfisher, how can i the image got from url be resized based on width. if image is 200 - 200 for example, and half width

[2017-03-01 21:34] kherlopian2 commented on #614
let processor = ResizingImageProcessor(targetSize: CGSize(width: im1.bounds.width, height: 0))
        //
        let url = URL(string: "http://thediplomat.com/wp-content/uploads/2013/05/2910_52438736b9ef2-386x248.jpg")
        cell.im1.kf.indicatorType = .activity
        cell.im1.kf.setImage(with: url,options: [.transition(.fade(0.2)), .processor(processor)], completionHandler: {
            (im

[2017-03-03 03:22] YinSiQian opened #615 "加载大量图片的时候内存暴涨"
喵神,最近在使用Kingfisher的时候,发现一个问题,在加载图片的时候,内存会涨的很厉害.为了排除代码原因,我更换到SDWebImage的时候,内存没有出现过这种情况.
icon.kf.setImage(with: model?.photo?.url())

就使用过这个方法.不知道是不是姿势不对- -

[2017-03-03 04:28] Copperfiled opened #616 "when load a lot of images, the memory increased rapidly."
I just use it like this:     self.iamgeView.kf.setImage(url)

[2017-03-03 14:39] onevcat commented on #615
Maybe you could try to do some brief search before open such an issue. Like [this](https://github.com/onevcat/Kingfisher/issues/531) might help.

[2017-03-03 14:39] #615 closed

[2017-03-04 04:28] jayarajb1116 opened #617 "Is it possible to get cache image from url, when there is no internet"
Is it possible to get cache image from url, when there is no internet

[2017-03-04 04:46] #617 closed

[2017-03-04 05:51] onevcat commented on #616
Maybe you could try to do some brief search before open such an issue. Like [this](https://github.com/onevcat/Kingfisher/issues/531) might help.

[2017-03-04 05:51] #616 closed

[2017-03-04 05:57] onevcat commented on #614
I cannot fully understand you, but it seems you are trying to do an aspect fit resizing?

Maybe you could just try the resizing processor with that option:

[code]

where the `size` should be your image view's size.

[2017-03-05 21:27] L4grange commented on #465
I put together a quick centre crop processor that I needed for my app, posting it here for anyone that might need it. I have not implemented the anchor yet, if I do I'll create a pull request. :) (P.S.: The code was found on stack overflow, I just put it in an ImageProcessor)

[code]

[2017-03-08 03:15] troy21688 opened #618 "Podfile Updated, Unable to import Kingfisher"
New to iOS programming and lovin what Kingfisher has to offer, however I cannot get it set up:

[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/87eJu.png

[2017-03-09 04:24] mono0926 opened #619 "Crash at `ImageCache.travelCachedFiles(onlyForCacheSize : Bool) -> (urlsToDelete : [URL], diskCacheSize : UInt, cachedFiles : [URL : URLResourceValues])`"
An crash occurred when called `kf.setImage(with:placeholder:options:progressBlock:completionHandler:)` to UIImageView immediately after opened the app from background.

[code]

This is Fabric Crashlytics report:

<img width="949" alt="screen shot 2017-03-09 at 13 14 31" src="https://cloud.githubusercontent.com/assets/1255062/23735668/5eac1500-04ca-11e7-81e3-e817a4a15033.png">

When debug mode, I s

[2017-03-09 08:49] mono0926 commented on #619
The crash is fixed by this commit: https://github.com/gram30/Kingfisher/commit/d222bf4eaae3b045bff4c79e6033c36399697f05
(Of course, this isn't desirable solution.)

I suspect, foreground/background management is not correct.

And this flickering remains :(
You can reproduce flickering by this:

1. Launch iOS sample app
2. Close the app (not terminate, just close to be background)
3. Open the app
4

[2017-03-09 11:50] mono0926 commented on #619
I fixed the crash by https://github.com/onevcat/Kingfisher/pull/620
Is it okay?

I think this is different problem, and I have no solution yet.

[2017-03-09 12:50] onevcat commented on #618
Have no idea. It should be your project setting instead of a Kingfisher issue. Please try to clean and update the cocoapod repo.

[2017-03-09 12:50] #618 closed

[2017-03-09 13:03] onevcat commented on #619
@mono0926
Thanks for your fix on crash. I will take a look at it later.

For the flickering, it is intended since Kingfisher will clean the memory cache when you switch to background. When you reload the images after that, the images will be retrieved from disk, which is an async operation (to keep best UI performance). The image views will be set to placeholder as soon as you call set method, but

[2017-03-09 13:54] mono0926 commented on #619
@onevcat

Thank you, I've figured out the flicking :)

I'm happy that the crash resolved.
(I re-archived my app using Kingfisher built from master branch, and no crash occured.)

So, I think this issue can be closed 😄

I added `. keepCurrentImageWhileLoading` option, but flickering occurred still, and it is reproduced on the sample app…
[This code](https://github.com/onevcat/Kingfisher/blob/master

[2017-03-09 13:58] onevcat commented on #619
:(
I cannot reproduce the flickering after I added `.keepCurrentImageWhileLoading` in the sample app. So I guess it might be some other issues. Which systems/devices did you try? Did you change anything else in the sample app?

[2017-03-09 14:10] mono0926 commented on #619
@onevcat

I modified only this line:

[`ViewController.swift#L73`](https://github.com/onevcat/Kingfisher/blob/master/Demo/Kingfisher-Demo/ViewController.swift#L73)

[code]

Condition:

- Xcode 8.2.1
- iPhone 7 (iOS 10.2) Simulator
  - iPhone 7 Plus (iOS 10.3 beta) Device, also (modified only signing setting to execute)

If I noticed the cause I'll report, thanks 😃

[2017-03-09 14:16] onevcat commented on #619
Ah,

I could reproduce it! You need to click the reload button really quite fast. It's likely that the cell reusing it not normal (since the flickering images are the images from other cells.)

Currently have no idea on it, but I will investigate it more on it.

Before we could get conclusion, we could leave this issue open for a while.

[2017-03-12 07:33] genadyo opened #621 "Crash at 'static Kingfisher<A where ...>.image(data : Data, scale : CGFloat, preloadAllGIFData : Bool, onlyFirstFrame : Bool) -> UIImage?'"
Here is the trace:
http://crashes.to/s/20f85252193

[2017-03-12 12:43] onevcat commented on #621
This crash is deeply in the `NSAllocateMemoryPages` and I guess it is more or less related to a low level memory problem. Maybe it happens when the device has a low memory. In fact there is little we could do in Kingfisher for it.

Maybe you could try to set a smaller memory cache value (or disable the memory cache) to get some trade off on memory usage.

[2017-03-12 12:43] #621 closed

[2017-03-12 17:29] genadyo commented on #621
Thanks for the feedback, I'll test it!

[2017-03-13 07:08] #612 closed

[2017-03-13 07:09] onevcat commented on #465
@L4grange Good job! I'll take a look at it to see whether we could implement a built-in crop processor based on this.

[2017-03-13 21:28] Codeido commented on #462
+1 for this feature 👍

[2017-03-15 09:59] black-lotus opened #623 "parse ImageProcessItem Data to raw value"
Hi, i am working with SVG
i read about cheat sheet and found this

[code]

i want to ask, is it possible to parse data to svg raw value...
i tried to parse using

`data.base64EncodedString()`

it's not raw svg content

Thank you in advance

[2017-03-15 17:30] adelmorgan opened #624 "Log Screen"
I would like to know how can I stop receiving these logs during downloading the image and regarding to this error is that considered stack underflow

**## nw_host_stats_add_src recv too small, received 24, expected 28**

2017-03-15 12:06:40.222792 TestingKingfisher[10481:809410] [] nw_host_stats_add_src recv too small, received 24, expected 28
2017-03-15 12:06:40.226058 TestingKingfisher[10481:809

[2017-03-16 01:06] onevcat commented on #624
It's not a Kingfisher issue, but an Xcode 8 simulator debug problem. Maybe [this post](http://stackoverflow.com/questions/37800790/hide-strange-unwanted-xcode-8-logs) would help.

[2017-03-16 01:06] #624 closed

[2017-03-16 16:43] wendyabrantes opened #625 ".backgroundDecode not working with GIF"
Using the option KingfisherOptionsInfo .backgroundDecode make the image still when used with Gif.
I was trying to use this cause gif are being encoded/decoded on the main thread and its really laggy on a collection view

[2017-03-16 19:14] lustigdev commented on #403
I realize this is closed, but to help @MaeseppTarvo and any others, this definitely appears to be an issue with Firebase's caching headers coming from their storage platform. I'm coming from Android, but had a similar issue with an image loading library not caching images, but upon further inspection of the headers realized for some reason that the max age of the file was 0. Trying an image hosted

[2017-03-20 10:14] onevcat commented on #625
Background decoding does not support back ground decode now. The main reason of lagging gif might mainly be that you trying to use the `AnimatedImageView`. You could try to use the normal `UIImageView` if the size of your GIF image is not large. You have to get a balance of memory/cpu usage between the two modes (all decode at once or decode one image per frame).

[2017-03-20 10:19] onevcat commented on #623
I am not familiar with SVG file. However, if you can find a way to convert your SVG file between `Data` and `UIImage`/`NSImage`, you could implement an `ImageProcessor` and a `CacheSerializer` pass it to Kingfisher's manager as an option, then Kingfisher could handle downloading/caching for it.

[2017-03-20 15:35] Codeido commented on #623
I used [PocketSVG](https://github.com/pocketsvg/PocketSVG) + Kingfisher.

First of all i implemented the ImageProcessor like this:
[code]

and i have this extra method to convert a CALayer to UIImage:
[code]

Let me know if is ok for you.

[2017-03-20 16:40] Codeido commented on #462
Try to see my solution here: https://github.com/onevcat/Kingfisher/issues/623

[2017-03-21 02:06] onevcat commented on #623
@Codeido Thanks for the detail explanation!

And you may also want to implement a `CacheSerializer` if you need to cache the image instead of downloading it again and again. (But I believe since the svg files are usually really small, this would not be a big impact on user experience.)

[2017-03-21 02:13] rlam3 opened #626 "Is there a way for kingfisher to integrate with gravatar?"
Is there a way for kingfisher to integrate with gravatar?

[2017-03-21 02:31] onevcat commented on #626
You can download and cache any image if you know the url.

And it is not a good place to ask question in GitHub issue. The issue page is for reporting problems, instead of asking for a tutorial.

I'll close it.

[2017-03-21 02:31] #626 closed

[2017-03-21 04:22] black-lotus commented on #623
@Codeido wow nice...
@onevcat noted, i will implement `CacheSerializer`

Thank you

[2017-03-21 04:22] #623 closed

[2017-03-21 08:23] Codeido commented on #623
Revisited implementation with CacheSerializer

[code]

[2017-03-21 10:02] jovan90jovanovic opened #627 "ImageDownloader urlSession crash"
Hi Everyone,

I'm getting this crash very often and I wasn't able to track it down. Basically, it happens in ImageDownloaderSessionHandler.urlSession(URLSession, dataTask : URLSessionDataTask, didReceive : Data) -> () at /Users/jovanjovanovic/Documents/Xcode/MoodChimp/Pods/Kingfisher/Sources/ImageDownloader.swift:402
and I've tried some logging but all I can see is that it gets EXC_BAD_ACCESS when

[2017-03-22 04:40] onevcat commented on #627
Not sure what happened because this crash is deeply in Apple's codebase.

Maybe related to https://github.com/AFNetworking/AFNetworking/issues/2468

However, it seems that there is little we could do in Kingfisher.

P.S. Does this always happen in iOS 8 only? If so, I guess it might be an system issue which was already fixed recently.

[2017-03-23 10:03] zerozheng opened #628 "how to use AnimatedImageView to load gif image?"
how to use AnimatedImageView to load gif image? I try this but it doesn't work. the imageView only show the first frame of the gif image.

[code]

[2017-03-23 13:07] onevcat commented on #628
You need to use the extension methods of image view to set it. Please read our [wiki](https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#animated-gif) before open such an issue.

[2017-03-23 13:07] #628 closed

[2017-03-23 16:45] ecristerna opened #629 "Limit disk cache size"
Hi,

I'm trying to limit the disk space used by the default cache, but I don't know where to set this property. I'm doing it on the AppDelegate, but this does not seem to work, the cache folder keeps saving images, even when the size has overpassed the limit i've set.

`Used disk size by bytes: 30076928 / 10485760`

I've set the limit to 10MB, but the cache is already ~30MB

[2017-03-24 03:02] yuvalt commented on #532
From what I've seen in my code, this can still happen if you pass the option " .cacheMemoryOnly".

[2017-03-24 14:04] onevcat commented on #629
The disk cache size limit is a "soft" limit instead of a "hard" one. Calculate the whole cache size before determine whether to store it or not would be a performance cost behavior. Kingfisher will only check the disk size and remove some older caches which exceed size limit when you switch the app background.

[2017-03-24 15:07] #627 closed

[2017-03-24 16:15] ecristerna commented on #629
Oh, i get it. So, id I set my cache limit to 10MB, and the `maxCachePeriod` to -1, this will cause to only delete files from disk once the 10MB capacity has been overpassed?

Also, is the AppDelegate the correct place to put this code?

[2017-03-25 07:55] onevcat commented on #629
Yes, you are correct. The files will be checked and cleaned when user click Home button to switch your app background, or when you call the `cleanExpiredDiskCache` manually.

I guess it is a reasonable place to set it in AppDelegate.

[2017-03-26 14:36] onevcat commented on #465
Cropping image is implemented in #630 now.

[2017-03-26 14:36] #465 closed

[2017-03-26 15:54] mhtranbn commented on #465
how i can crop image @onevcat many thank for support, great respo!

[2017-03-27 01:24] onevcat commented on #465
Just create a `CroppingImageProcessor` and pass it as an option to `setImage` methods. Please have a look at [our wiki](https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#processor) for more.

[2017-03-27 01:31] onevcat opened #631 "Host documentation in GitHub instead of CocoaDocs"
Since CocoaDocs will shut down soon, we need to host documentation of Kingfisher in another place. Maybe GitHub pages could be a good choice.

[2017-03-27 16:11] AhmadFayyas commented on #277
Referring to your answer, could you please advice about [this question](https://stackoverflow.com/questions/43049041/whats-the-kingfisher-default-cache-behavior)?

[2017-03-28 01:40] onevcat commented on #277
@AhmadFayyas Answered it and hope it could help you!

[2017-03-29 09:35] alibasta opened #634 "Downloading large amount of images"
Hi,

I'm using Kingfisher to downloading a large amount of images and put them after download into the cache. My problem right now is, that the CPU usage is very high because of the large amount of images.

I would love to change the `delegateQueue`to background but the URLSession is private in Kingfisher. Would love to manipulate the `delegateQueue` in Kingfisher.

Are you open for a pull request

[2017-03-29 09:59] onevcat commented on #634
@alibasta Yes, you are right. There should be no need to delegate the session to main queue. Maybe we could just pass `nil` when creating the session object and let the system creating one for us, according to [doc](https://developer.apple.com/reference/foundation/urlsession/1411597-init):

What do you think about it? If you feel that this is OK, a p-r on it is warmly welcome!

[2017-03-29 10:02] onevcat commented on #634
Instead of change the access level of url session or delegate queue, I prefer to keep a minimal interface to framework users unless it is really necessary. Hope you could understand it. (If you think it would be better to make the url session `open` or `public`, feel free to leave a comment and discuss more. :] )

[2017-03-29 10:05] alibasta commented on #634
Hi @onevcat
thanks for your fast response! I think the problem is somewhere else.
My CPU usage is higher than 100% using the following code to download more than 1000 Images:

[code]

Do you have experience using Kingfisher to download this large amount of urls?

Best

Alex

[2017-03-29 10:19] timonchev commented on #623
how get size of image from data? Or proportions weight/height

[2017-03-29 10:23] timonchev commented on #623
or something like Aspect fit for svg layer?

[2017-03-29 15:26] LimChihi opened #635 "Speed up MD5"
Hi
I found that you used `NSMutableString` in `String` extension to generate MD5 string.
It could be faster if you use `String`.
for 10000 item calculation, Your code need `0.84178680399782s`, if you use `String`, it will only need `0.601265446995967s`.
Although MD5  calculation is fast enough, Swift style is more cool.

你好，我发现您在`String`的拓展中使用了`NSMutableString`来生成 MD5.
如果直接使用`String`会更快一些。
在10000个

[2017-03-29 15:28] onevcat commented on #635
It's cool to know that. Is it possible for you to send a pull request on it? Thanks!

[2017-03-29 15:56] LimChihi commented on #635
Cool, I had sent a pull request.

[2017-03-29 21:24] viktorwillmann opened #637 "memory usage increased with update"
i noticed that since i updated the kingfisher pod, using
    cell.picture.kf.setImage(with: item.imageURL, placeholder: placeholderImage)
in my tableView at cellForRowAt causes an increased memory usage with each image. Before that the memory was freed when the cell disappeared. If i remove the line, everything works fine and this worked before perfectly fine.

Did something changed regarding the

[2017-03-30 01:53] onevcat commented on #637
Hey, what was the version you were using before upgrade? Recently there should be no change on memory management in Kingfisher so I guess it would be some other reasons.

BTW, it is normal that the memory usage keeps going up when you show more images, since there is a memory layer of cache in Kingfisher which would hold your images in memory. The in-memory cache follows some rules so generally yo

[2017-03-30 01:54] onevcat commented on #635
Merged. Thank you!

[2017-03-30 01:54] #635 closed

[2017-03-30 02:00] onevcat commented on #634
Instead of downloading them like this, I suggest to use the `ImagePrefetcher` for this purpose, which is wrapped to a better API and limited the concurrent jobs at a time. You could just feed your urls to it and wait for the result:

[code]

There are also progress and completion callbacks for you to know the result of downloading. Refer to the [wiki on it](https://github.com/onevcat/Kingfisher/wi

[2017-03-30 02:01] onevcat commented on #634
And another delegate queue instead of main queue could definitely be an improve too!

[2017-03-30 02:02] #629 closed

[2017-03-30 02:04] onevcat commented on #603
Maybe related to https://github.com/onevcat/Kingfisher/issues/634, since the delegate queue of url session in `ImageDownloader` is now the main queue. I will try to apply a patch for it, you could check whether it could fix this issue.

[2017-03-30 11:03] viktorwillmann commented on #637
You are right, the memory does drop if i simulate a warning or put in the background so i guess i have never noticed it before. Where do i set the maxMemoryCost? Will it work like FIFO, kicking out the oldest unrecently used image from cache? We can close this issue then.

[2017-03-30 11:05] AmeerChand opened #638 "not showing these type of images. Can you show these?"
thumbnail = ["http://www.nust.edu.pk/PublishingImages/pdc-apr17-ws-1.jpg","http://www.nust.edu.pk/PublishingImages/pdc-apr17-ws-2.jpg","http://www.nust.edu.pk/PublishingImages/pdc-apr17-ws-4.jpg","http://www.nust.edu.pk/PublishingImages/pdc-apr17-ws-6.jpg","http://www.nust.edu.pk/PublishingImages/pdc-apr17-ws-7.jpg"]
![screen shot 2017-03-30 at 4 04 39 pm](https://cloud.githubusercontent.com/asset

[2017-03-30 12:09] onevcat commented on #637
It is an `NSCache` underhood, so it will refuse new cache once upper limit is reached. You could set the `maxMemoryCost` at any place you want. A general place could be the app did finish launching delegate method in AppDelegate.

[2017-03-30 12:09] #637 closed

[2017-03-30 12:16] onevcat commented on #638
I cannot open your urls (like http://www.nust.edu.pk/PublishingImages/pdc-apr17-ws-2.jpg) even in my browser. So it seems that your images are not served correctly?

[2017-03-30 12:29] AmeerChand commented on #638
![screen shot 2017-03-30 at 5 27 33 pm](https://cloud.githubusercontent.com/assets/26761721/24504113/5e5aaeea-156e-11e7-9f8c-e70770491723.png)

see the url

[2017-03-30 12:37] onevcat commented on #638
Maybe you need to turn off the ATS, if you are trying to load it in the demo project.

[2017-03-30 12:38] AmeerChand commented on #638
ATS???

[2017-03-30 14:19] IvanVelickovski commented on #638
@AmeerChand
Maybe you haven't set transport security in .plist.

More here: http://stackoverflow.com/questions/31254725/transport-security-has-blocked-a-cleartext-http

[2017-03-31 14:19] pepejeria opened #640 "UIBarButtonItem extension"
Is there an easy way to set the background image of an UIBarButtonItem? An extension for like the UIImageView would be nice.

[2017-04-01 06:40] abellee commented on #531
@onevcat so I also could clear memory cache by myself, right?
but after do that, seems the disk cache was disappear too? so how to clear the memory cache in right way?

[2017-04-01 06:43] onevcat commented on #531
@abellee
No, purging the memory cache should not clear disk cache. If this happened to you, please open a new issue and give more details.

[2017-04-01 06:52] abellee commented on #531
@onevcat sorry, I don't know if this is an issue. I just found the memory will increased almost 40mb after I opened a large image yesterday, so I tried to clear the memory cache with kingfisher, and it works. but when I offline for a while and reopen the app, some images can not display even though I have showed before. but it won't happened before I do clear the memory cache.

[2017-04-01 07:12] onevcat commented on #640
We have to be prudent to add such an extension method to the framework, unless it is a very widely-used feature. Now Kingfisher supplies an ImageView extension since almost all use cases is targeted to an ImageView. However, `UIBarButtonItem` should not be in this case.

Of course you could wrap an extension for your own project if you are using it for `UIBarButtonItem`. Thanks to the `KingfisherM

[2017-04-01 14:51] LarsWith opened #642 "How does the cache work"
I have a few thousands images which all have the same url except for a unique id
eg:
[code]
I often load a image like this:
`https://mydomain.imgix.net/1/thumb.jpg`
But sometimes I also load the same image like this:
`https://mydomain.imgix.net/1/thumb.jpg?200x200`

Does Kingfisher cache the second url or not? Coz the almost are the same

[2017-04-01 15:05] onevcat commented on #642
Yes, it will be recognized as a new and different image, and will be cached as the first kind. The url absolute string will be used as cache key by default.

[2017-04-01 15:05] #642 closed

[2017-04-01 15:06] onevcat commented on #642
And I have to say, the GitHub issue is not a good place to ask questions.

[2017-04-01 18:01] pepejeria commented on #640
Alright, sounds good.

[2017-04-02 07:06] jerry0317 opened #643 "A suggestion: Make DiskCacheSize as a property"
Are there methods that I'd use the calculated size of DiskCacheSize as a property instead of closure?
At this point I can only
[code]
which doesn't work.

It'd be helpful if I could just use the DiskCacheSize as a property. Just like SDWebImage, where I can:
[code]
And really, thanks a lot for your work!

[2017-04-02 13:25] onevcat commented on #643
Hi,

It is intended to have only async method for getting disk size. If there are quite a few (like thousands) files in the disk, getting the total size of them could be a time-consuming work and it might cause your UI freezing if not used properly. Making it an async method instead of a sync one could be a tip for users for that.

You code will fail since the return statement happens before the b

[2017-04-02 14:35] jerry0317 commented on #643
Thanks! This solves my problem.

[2017-04-02 14:35] #643 closed

[2017-04-03 10:15] iDevelopper opened #644 "Objective-C"
### Check List

Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

- [x ] I have read the [wiki page](https://github.com/onevcat/Kingfisher/wiki) and [cheat sheet](https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet), but there is no information I need.
- [x ] I have searched in [existing issues](https://github.com/onevcat/Kingfisher/

[2017-04-03 11:15] iDevelopper commented on #644
Got it! #145

[2017-04-03 11:15] #644 closed

[2017-04-05 00:20] bmetitiri opened #645 "Bug with ResizingImageProcessor and .aspectFill (possibly .aspectFit as well)"
The image returned by `ResizingImageProcessor(targetSize: <any square size>, contentMode: .aspectFill)` does not respect the aspect ratio of the input image, and has a size that does not match the `targetSize`.

Specifically I am loading the URL https://scontent.xx.fbcdn.net/v/t1.0-1/p200x200/1511435_10153809629850504_646477087_n.jpg?oh=8dc399c391d96f2a6902f02979708557&oe=5905D119 which is much ta

[2017-04-05 01:46] onevcat commented on #645
Hi,

The behavior of `ResizingImageProcessor` is intended and correct here. The `target` size is only a "target", or say, a reference size when you are passing a `contentMode`. It could be not the same as the final image size since we have to respect the ratio if there is an "aspect" mode.

Here you are using `. aspectFill`, and the resized image has to be 64x99 to respect the aspect ratio of your

[2017-04-05 06:56] alibasta commented on #634
@onevcat Sorry for the late response. I was afk a few days.

I changed the code to use the `ImagePrefetcher` and the performance looks better now.  I think the next step is to test Kingfisher with changing the queue in Kingfisher. Have you already done some tests?

[2017-04-05 06:59] #638 closed

[2017-04-05 06:59] #640 closed

[2017-04-05 06:59] onevcat commented on #634
Maybe you could try this branch: https://github.com/onevcat/Kingfisher/tree/fix/non-main-queue-delegate

(Not merged into master yet)

[2017-04-05 07:01] onevcat commented on #634
But I guess the improvement of it might be trivial. It would be appreciated if you could tell me about the result when you have any progress.

[2017-04-05 07:09] alibasta commented on #634
CPU is still over 100%. I'm starting the `ImagePrefetcher` from a background DispatchQueue.

[2017-04-05 07:12] alibasta commented on #634
RAM is also exploding. More than a gig. I'm downloading 10806 images right now in the ImagePrefetcher.

[2017-04-05 07:39] onevcat commented on #634
Do you know what is the most CPU consuming method? Could you do a profiling in Instruments for that?

And since you are not likely to using them, I guess you could also disable the memory cache by setting `ImageCache.default.maxMemoryCost = 1` to limit the RAM.

After all, Kingfisher is not designed as a raw data downloader for huge amount of files (which I believe you are seeking for). Instead of

[2017-04-05 18:34] bmetitiri commented on #645
Oh wow, I was completely misinterpreting how `ResizingImageProcessor` is supposed to work apparently. I assumed you passed in the target size for the resized image that you want, and I assumed that the addition of the `.aspectFill` mode would cause it to crop to reach the target size rather than squashing.

Maybe if you added a note to the `contentMode` docs saying that it overrides the `targetSiz

[2017-04-06 01:07] onevcat commented on #645
@bmetitiri Yes, you are right. I will update the documentation for it soon. And maybe also rename the parameter labels.

[2017-04-06 01:42] onevcat commented on #645
https://github.com/onevcat/Kingfisher/pull/646

[2017-04-06 01:44] #645 closed

[2017-04-06 02:07] futomtom commented on #603
How to cancel ImagePrefetcher fetch task in  func collectionView(_ collectionView: UICollectionView, cancelPrefetchingForRowsAt indexPaths: [IndexPath]) {
       //suppose we have   indexPath

        }
    }

[2017-04-06 02:40] onevcat commented on #603
Currently, you can only stop the whole created image prefetcher, instead of stopping some specified url.

[2017-04-06 02:55] futomtom commented on #603
would using ImageDownloader be a better approach    func collectionView(_ collectionView: UICollectionView, prefetchItemsAt indexPaths: [IndexPath]) {

        for indexPath in indexPaths {
            let article = articles[indexPath.row]
            //save task into our model , then we can cancel them , if needed.
            article.task = ImageDownloader.default.downloadImage(with: article.thu

[2017-04-06 08:22] AmeerChand commented on #638
i already seted the ATS but not working.

[2017-04-07 04:52] KairaKrishna opened #647 "No such module 'Kingfisher'"
### Issue Description
I am following steps https://github.com/onevcat/Kingfisher/wiki/Installation-Guide#manually. And getting 'No such module found 'Kingfisher' error.

#### What
I wish to add 'Kingfisher' as submodule under my project, and following the steps for manual installation, but getting this error. I have almost tried everything I could try, such as http://stackoverflow.com/questions/29

[2017-04-07 06:25] onevcat commented on #647
Just tried to follow the instruction and everything goes fine to me:

![snip20170407_2](https://cloud.githubusercontent.com/assets/1019875/24788022/4d6e1390-1ba6-11e7-9e80-5f6be2c1c601.png)

So I believe it is something wrong with you dev environment. Could you try to switch the scheme to Kingfisher and build it to see whether there is any error?

[2017-04-07 06:35] KairaKrishna commented on #647
The framework is building successfully, but my sample app is not compiling. Keeps on popping the same error.
The actual problem is, in the main project which gets successfully compiled on other mac machines, but the same source code doesn't get compiled on my mac system. Always stuck at the same problem: "No such module 'Kingfisher'"

There could be any other possible system level settings/configu

[2017-04-07 07:23] onevcat commented on #647
Not sure what happened. :[

[2017-04-07 07:28] onevcat commented on #647
It is hard to say where exactly the issue is unless I could reach your environment. But it should be related to framework search path setting somewhere.

Instead of manually installing, could you give a third party dependency manager like CocoaPods or Carthage a try?